#sira-layer-settings {
    display: inline-block;
    width: 100%;
    background-color: rgba(245,245,245,0.8);
}
#sira-layer-settings .noUi-horizontal {
    height: 2px;
    width: 260px;
    margin: auto;
}
#sira-layer-settings .noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}

#sira-layer-settings .noUi-target{ position: relative;
    direction: ltr;
    width: 90%;
    margin-bottom: 10px;
}
#sira-layer-settings .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#sira-layer-settings .noUi-handle {
    background: #078aa3;
    cursor: default;
    border-radius: 50px;
    position: relative;
    z-index: 1;
}
#sira-layer-settings .noUi-horizontal .noUi-handle {
    width: 23px;
    height: 23px;
    top: -10px;
}
#sira-layer-settings .noUi-handle:after, #sira-layer-settings .noUi-handle:before {
    background: none;
}