
.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* HOMEPAGE STYLES */

a:hover{
    text-decoration: none;
}

.main-home{
    background-image: url("../img/home-body.png");
    background-repeat: no-repeat;
    height: 812px;
    width: 1168px;
    margin: 0 auto;
    opacity: 0.2;
}

.header{
    width: 1168px;
    height: 70px;
    background-color: #3084DE;
    color: #FFFFFF;
    top: 30px;
    margin: 0 auto;
    margin-top: 15px;
}

.header-text{
    width: 95%;
    height: 70px;
    float: left;
    font-family: 'Arial Grassetto', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-align: left;
    line-height: normal;
    padding-left: 50px;
    padding-top: 15px;
}

.header-burger{
    height: 70px;
    width: 5%;
    border: 1px solid #3084DE;
    color: #000000;
    font-size: 24px;
    float: right;
    text-align: center;
    padding-top: 20px;
    background-color: #FFFFFF;
}

.header-2{
    background-color: #D7D7D7;
    height: 110px;
    width: 1168px;
    margin: 0 auto;
}

.header-2 p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #1E1E1E;
    margin-left: 50px;
    margin-right: 50px;
}

.header-3{
    background-color: #21374F;
    background-image: url("../img/u4.png");
    background-repeat: no-repeat;
    height: 225px;
    width: 1168px;
    margin: 0 auto;
    opacity: 0.5;
}

.header-4 h2{
    margin-top: 0px;
    opacity: 1.0;
}

.header-5{
    background-color: #FFFFFF;
    height: 106px;
    width: 1168px;
    margin: 0 auto;
    padding: 13px;
}

.search-title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    color: #000000;
}

.siraSearchBar{
    padding-top: 30px;
    width: 638px;
    margin: 0 auto;
    opacity: 1.o;
}

.box-left{
    margin-left: 300px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.29);
    height: 79px;
    float: left;
    text-align: center;
    border: 1px solid #808080;
}

.box-center{
    width: 200px;
    background-color: #D7D7D7;
    margin:0 auto;
    height: 79px;
    text-align: center;
}

.box-right{
    margin-right: 300px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.29);
    height: 79px;
    float: right;
    text-align: center;
    border: 1px solid #808080;
}

.box-right:hover{
    background-color: rgba(236, 239, 243, 0.88);
    color: #FFFFFF;
    box-shadow: 2px 2px 5px #888888;
}

.box-left:hover{
    background-color: rgba(236, 239, 243, 0.88);
    color: #FFFFFF;
    box-shadow: 2px 2px 5px #888888;
}
@media(min-width: 1200px){
 .home-search{
    width: 100% !important;
 }
}
 @media(min-width: 992px) {
  .home-search{
     width : 100% !important;
  }
}
@media(min-width: 768px){
 .home-search{
    width : 100% !important;
 }
}
