.fill {
    position:fixed !important;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}
#qgis-container {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
}
#qgis-container .querypanel-container{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    margin: 0px;
}

#qgis-container .querypanel-container > .panel-body{
    overflow: hidden;
    position: absolute;
    top:40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    margin: 0px;
}
#qgis-container .querypanel {
    position: absolute;
    bottom: 40px;
    top: 70px;
    left: 15px;
    right: 15px;
    overflow: hidden;
    padding: 0px;
}
#qgis-container .querypanel .panel-collapse{
    position: absolute;
    top: 45px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    background-color: white;
}
#qgis-container .querypanel .panel-collapse>.panel-body{
    border: 5px solid #eee;
}
#qgis-container .queryFormToolbar {
    position: fixed;
    bottom: 4px;
    left: calc( 50% - 120px);
    }
.links {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

/* SIRA Query Panel */

.dhContainer{
    background-color: #F5F5F5;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #337AB7;
}

.dhContainer h4{
    padding-left: 10px;
}

.ftheader{
    color: #337ab7;
}

.collapsible{
    color: #FFFFFF;
}


.dialog-error-header{
    width: 500px;
}


.dialog-error-body{
    height: 600px;
    width: 500px;
    overflow: auto;
}

.dialog-error-footer{
    width: 500px;
}

#loading-error-dialog .modal-content{
    width: 510px;
}

.sidepanel-featuregrid {
    margin-bottom: 0px !important;
    border-width: 0px;
}
/* SIRA FeatureGrid */

.grid-close{
    color: #FFFFFF;
}

.grid-close:hover{
    color: #FFFFFF;
}

.featuregrid-container{
    position: absolute;
    top: 0;
}

.featuregrid-container .panel-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.featuregrid-container .panel-heading{
    cursor: move;
}
.featuregrid-container .panel-title a{
    cursor: move;
    text-decoration:none;
}
.featuregrid-container .react-resizable-handle{
    bottom:-15px;
    right: -15px;
}
.featuregrid {
    height: 750px;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
}
#pageRowSummaryPanel{
    width: auto;
}

.querypanel #spatialFilterPanel hr {
    display: none;
}

.group-expanded .Sortable {
    max-height: 200px;
    overflow: auto;
}

.sectionHader a:hover {
    color: #000000;
    text-decoration: none;
}

.labeledfield-no-value{
    font-style: italic;
}

.handle_querypanel {
    cursor: move;
}
div.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading [class^="glyphicon-triangle-"]:before, [class*=" glyphicon-triangle-"]:before {
    font-family: inherit !important;
}
.querypanel-container .glyphicon-collapse-down:before {
    color: black;
    content: "\e252";
    font-family: inherit !important;
}
.querypanel-container .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.querypanel-container .glyphicon-expand:before {
    color: black;
    content: "\e251";
    font-family: inherit !important;
}

.querypanel-container [class*=" glyphicon-minus"]:before  {
    content: "\e082";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container [class*=" glyphicon-remove"]:before {
    content: "\e014";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container [class*=" glyphicon-plus"]:before {
    content: "\2b";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container .col-xs-12 h4 {
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    font-size: 14px;
}

.hideSpatialFilter .querypanel>div:nth-child(2) {
    display: none;
    pointer-events: none;
    opacity: 0.5;
}
button.close.grid-close{
    visibility: visible;
}

#qgis-container .scheda-sira {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: white;
    width: auto;
    min-height: 0px;
}
#qgis-container .scheda-sira .panel-primary{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}
#qgis-container .scheda-sira .panel-primary>.panel-body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#qgis-container .scheda-sira .template {
    position: absolute;
    top: 118px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-height: none;
    margin: 0px;
    overflow: auto;
}
#card-btn-group {
   position: absolute;
   top: -100px;
   width: 100%;
   height: 40px;
   background: white;
   z-index: 1250;
   -moz-animation: cssShowBtnScheda 0s ease-in 1s forwards;
       /* Firefox */
   -webkit-animation: cssShowBtnScheda 0s ease-in 1s forwards;
       /* Safari and Chrome */
   -o-animation: cssShowBtnScheda 0s ease-in 1s forwards;
       /* Opera */
   animation: cssShowBtnScheda 0s ease-in s forwards;
   -webkit-animation-fill-mode: forwards;
       animation-fill-mode: forwards;
}
#qgis-container .featuregrid-container{
    height: 100%;
    width:100%;
}
#qgis-container .featuregrid-container .panel-body div div button:nth-child(1){
    visibility: hidden;
}
.qgis-spinner{
    position: absolute;
    top: 49%;
    left: 45%;
    width: 100%;
    height: 100%
}
#SiraExporter .modal-body{
    padding-top: 0px;
}
#SiraExporter div[role=body] {
    padding-top: 15px;
}
button.exporter-close.close {
    font-size: 30px !important;
}
#scheda2pdf {
    color: #078aa3;
    cursor: pointer;
    position: absolute;
    right: 4px;
    font-family: 'Raleway';
    font-size: 14px;
    border-radius: 10px;
    }
@keyframes cssShowBtnScheda {
    to {
        top :78px;
    }
}
@-webkit-keyframes cssShowBtnScheda {
    to {
        top :78px;
    }
}
.schedapdf-spinner{
    position: absolute;
    top: 49%;
    left: 45%;
    width: 100%;
    height: 100%
}