.mapbody {
    position: absolute;
    top: 32px;
    bottom: 0;
    width: 100%;
}
#map, .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info {
    z-index: 2;
    position: absolute;
    right: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    top: 55px;
}

.links {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.toolbar-item {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.toolbar-item.open {
    background-color: #AAA;
}

/* SIRA Query Panel */

.querypanel-container{
    width: 850px;
}

.querypanel-container .panel-title{
    font-size: 20px;
}

.querypanel-container .panel-title a{
    cursor: text;
    text-decoration:none;
}

.dhContainer{
    background-color: #F5F5F5;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #337AB7;
}

.dhContainer h4{
    padding-left: 10px;
}

.ftheader{
    color: #337ab7;
}

.collapsible{
    color: #FFFFFF;
}

.template{
    height: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    margin-top: 30px;
}

.dialog-error-header{
    width: 500px;
}


.dialog-error-body{
    height: 600px;
    width: 500px;
    overflow: auto;
}

.dialog-error-footer{
    width: 500px;
}

#loading-error-dialog .modal-content{
    width: 510px;
}
/* QUERY PANEL IN SIDEBAR*/
.side-querypanel{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    height: auto;
    overflow-y: auto;
    width: 100% !important;
}
.side-querypanel #add-condition-group{
   position: relative;
   left: 60px;
}
.side-querypanel #attributeFilterPanel .logicHeader .col-xs-5 {
    width: 50% !important;
}
.side-querypanel #attributeFilterPanel .logicHeader .col-xs-6 {
    width: 40% !important;
}
.side-querypanel #spatialFilterPanel .detail_geom_button {
    position: relative;
    left: 25px;
}
.sidepanel-featuregrid {
    margin-bottom: 0px !important;
    border-width: 0px;
}
/* SIRA FeatureGrid */

.grid-close{
    color: #FFFFFF;
}

.grid-close:hover{
    color: #FFFFFF;
}

.featuregrid-container{
    position: absolute;
    top: 0px;
    bottom:0px;
    overflow-y: auto;
}

.featuregrid-container .panel-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.featuregrid-container .panel-heading{
    cursor: move;
}
.featuregrid-container .panel-title a{
    cursor: move;
    text-decoration:none;
}
.featuregrid-container .react-resizable-handle{
    bottom:-15px;
    right: -15px;
}
.featuregrid {
    height: 750px;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
}
#pageRowSummaryPanel{
    width: auto;
}
/* MAP Controls*/

#mapstore-scalebox {
    z-index: 10;
    bottom: 6px;
    left: -2px;
    position: absolute;
    margin: 8px;
}

#mapstore-zoomtomaxextents {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 67px;
    left: 0px;
    position: absolute;
    margin-left: 10px;
}

.sira-scalebar{
    bottom: 65px;
}
/*
.querypanel #attributeFilterPanel .col-xs-3, .querypanel .col-xs-9 {
    width: 50% !important;
}

.querypanel #attributeFilterPanel .logicHeader .col-xs-5 {
    width: 50% !important;
}

.querypanel #spatialFilterPanel .col-xs-5 {
    width: 50% !important;
}

.querypanel #spatialFilterPanel .col-xs-7 {
    width: 50% !important;
}
*/
.querypanel #spatialFilterPanel hr {
    display: none;
}

.group-expanded .Sortable {
    max-height: 200px;
    overflow: auto;
}

.sectionHader a:hover {
    color: #000000;
    text-decoration: none;
}

.labeledfield-no-value{
    font-style: italic;
}

.handle_querypanel {
    cursor: move;
}
div.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading [class^="glyphicon-triangle-"]:before, [class*=" glyphicon-triangle-"]:before {
    font-family: inherit !important;
}
.querypanel-container .glyphicon-collapse-down:before {
    color: black;
    content: "\e252";
    font-family: inherit !important;
}
.querypanel-container .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.querypanel-container .glyphicon-expand:before {
    color: black;
    content: "\e251";
    font-family: inherit !important;
}

.querypanel-container [class*=" glyphicon-minus"]:before  {
    content: "\e014";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container [class*=" glyphicon-remove"]:before {
    content: "\e014";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container [class*=" glyphicon-plus"]:before {
    content: "\2b";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container .col-xs-12 h4 {
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    font-size: 14px;
}
#mapstore-getfeatureinfo{
    z-index: 1024 !important;
    width: 500px;
    height: calc(100% - 150px);
}
#mapstore-getfeatureinfo .panel-body {
    padding: 15px;
}

#mapstore-getfeatureinfo > .panel-body {
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    top: 43px;
    width: 100%;
    left: 0;
}
/* Catalog styles */
.catalog-object {
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
}
.toc-group-children .catalog-object {
    background-color: rgba(181, 208, 208, 0.2);
    cursor: pointer;
    border-bottom: 0px;
}
.catalog-object .toc-title{
    margin-left: 15px;
}
.toc-group-children .catalog-object:nth-child(2n+1) {
    background-color: rgba(181, 208, 208, 0.1);
}
#siracatalog {
    margin-top:10px;
}
#siracatalog .glyphicon-folder-open:before {
   content: "\31";
}
#siracatalog .glyphicon-folder-close:before {
   content: "\33";
}
#siracatalog .toc-group-children {
    margin-left: 0px !important;
}
#siracatalog .toc-default-group {
    padding: 0px !important;
    margin-bottom: 0px !important;

}
#siracatalog .toc-group-title span:nth-child(2) {
    position: relative;
        top: -10px;
}
#siracatalog .toc-default-group .toc-default-group{
    margin-left: 10px;
    border: none;
}
#siracatalog .toc-default-group .toc-default-group:last-child{
    margin-left: 10px;
    border: none !important;
}
.sira-view {
    border-bottom: 1px solid #dddddd;
}
.sira-view-title {
    position: relative;
    padding:4px;
}
.sira-view-title span:first-child{
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
    max-width: 230px;
}
.sira-view-title .glyphicon{
    float: right;
    margin-top: 10px;
    color: #078aa3;
    font-size: 23px !important;
    cursor: pointer;
}
.sira-view-object{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  rgba(181, 208, 208, 0.2);
}
.sira-view-object:nth-child(2n+1) {
    background-color: rgba(181, 208, 208, 0.1);
}
.sira-view-object span:first-child{
    margin-left: 15px;
}
.sira-view-object .glyphicon{
    float: right;
    color: #078aa3;
    font-size: 23px !important;
    cursor: pointer;
}
.catalog-search-container{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    height: 60px;
}
.catalog-search-container .MapSearchBar {
position: relative;
left: 0px !important;
top: 0px !important;
-webkit-flex: 3 1 85% !important;
flex: 3 1 80% !important;
}
.catalog-search-container .MapSearchBar .input-group{
    min-width: 100%;
    box-shadow: 1px 2px 4px #A7A7A7;
}
.catalog-categories-switch-container {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: center;
    padding-bottom: 5px;
}
.catalog-categories-switch{
    display: inline-flex;
    flex: 1;
    background-color: #007e4f;
    color: white;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.catalog-categories-switch span{
    text-align: center;
    width: 100%;
}
.catalog-tabs{
    position: relative;
}
.siracatalog-search-selector{
    -webkit-flex: 1 6 20%;
    border-top: 1px;
    flex: 1 6 20%;
    height: 51px;
    box-shadow: 2px 2px 4px #A7A7A7;
    background-color: #0a53a8 !important;
    /*color: #5C9FB4 !important;*/

}
.hideSpatialFilter .querypanel{
    padding-bottom: 50px;
}
.hideSpatialFilter .querypanel>div:nth-child(2) {
    display: none;
    pointer-events: none;
    opacity: 0.5;
}
#mapstore-layers .toc-group-children .Sortable {
    max-height: none !important;
}
#search-categories{
   z-index: 1025;
   max-width: none;
   padding: 0px;
   background-color: rgba(255,255,255,.5);
}
#search-categories .popover-content{
    max-width: none;
    padding: 1px;

}
#search-categories .popover-content .searchtile{
    cursor: pointer;
    background-color: #232222 !important;
    color: #c3f5ff;
    opacity: 1;
    background-repeat: no-repeat !important;
    background-position: center 80% !important;
    background-size: 60px !important;
    background-color: rgba(24,23,23,0.7)!important;
    width: 150px;
    min-height: 130px;
    max-height: 130px;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 1px;
    padding-top: 5px;
    text-align: center;
}
.tilescontainer {
    width: 600px;
    /*border: 8px solid #666;*/
    padding: 0px;
}
.tilescontainer .row {
    margin: 0px;
}
#search-categories .ogg_appl {
    top: 20px;
    font-size: 10px;
}
#mapstore-drawermenu .nav-menu {
    max-width: 500px;
}

.toc-default-layer .toc-title {
    max-width: 230px;
}
#SiraExporter .modal-body{
    padding-top: 0px;
}
#SiraExporter div[role=body] {
    padding-top: 15px;
}
button.exporter-close.close {
    font-size: 30px !important;
}

#mapstore-navbar .search-toggle {
    display: inline-block;
}

#mapstore-navbar .MapSearchBar {
    top: 0 !important;
    width: 450px !important;
    left: -451px !important;
}
#mapstore-navbar .navbar-dx .MapSearchBar .input-group{
    width: 450px !important;

}
#mapstore-navbar .navbar-dx .search-result-list {
    width: 450px !important;
    left: -451px !important;
}
#mapstore-navbar .navbar-dx .MapSearchBar .input-group span.glyphicon.glyphicon-search{
    visibility: hidden;
}
@media (max-width: 768px) {
    #mapstore-navbar .MapSearchBar {
        width: 350px !important;
        position: absolute !important;
        top: 0px !important;
        left: -351px !important ;
    }
    #mapstore-navbar .navbar-dx .MapSearchBar .input-group{
        width: 350px !important;
    }
    #mapstore-navbar .navbar-dx .search-result-list {
        width: 350px !important;
        left: -351px !important;
        position: absolute !important;
        top: 60px !important;
    }
}

#scheda2pdf {
    color: #078aa3;
    cursor: pointer;
    position: absolute;
    right: 4px;
    font-family: 'Raleway';
    font-size: 14px;
    border-radius: 10px;
}

@keyframes cssShowBtnScheda {
    to {
            top :78px;
        }
}
@-webkit-keyframes cssShowBtnScheda {
   to {
           top :78px;
       }
}
#card-btn-group {
   position: absolute;
   top: 80px;
   width: 100%;
   height: 40px;
   background: white;
   z-index: 1250;
   -moz-animation: cssShowBtnScheda 0s ease-in 1s forwards;
       /* Firefox */
   -webkit-animation: cssShowBtnScheda 0s ease-in 1s forwards;
       /* Safari and Chrome */
   -o-animation: cssShowBtnScheda 0s ease-in 1s forwards;
       /* Opera */
   animation: cssShowBtnScheda 0s ease-in s forwards;
   -webkit-animation-fill-mode: forwards;
       animation-fill-mode: forwards;
}
.schedapdf-spinner{
    position: absolute;
    top: 49%;
    left: 45%;
    width: 100%;
    height: 100%
}

#mapstore-navbar .TOC-Node-enter, #mapstore-navbar .TOC-Node-leave {
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    overflow: hidden;
}
.sira-add-map{
    min-width: 550px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#add-map-modal .modal-title{
    font-size: 1em;
}
#add-map-modal .modal-header{
    height: 71px;
    text-overflow:ellipsis;
}
#add-map-modal .modal-content{
    overflow:hidden;
    height: 500px;
}
#add-map-modal .modal-footer{
    position:absolute;
    bottom : 0px;
    right: 0px;
    left: 0px;
    height: 71px;

}
#add-map-modal .modal-body{
    position:absolute;
    top:71px;
    bottom:71px;
    right: 0px;
    left:0px;
    overflow: auto;
}
.sira-add-map-body{
height: auto;
overflow-y: auto;
}
.sira-map-layer.layer{
    margin-bottom: 2px;
    margin-top: 2px;
}
.sira-map-layer-children{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.group-layer-header.group{
    font-size: 1.3em;
}
.group-layer-header.layer{
    font-size: 1.1em;
}
.sira-map-layer .title{
    margin-left:5px;
}
.sira-map-layer .title-cursor{
    margin-left:5px;
    cursor: pointer;
}
.sira-map-layer .glyphicon {
    cursor: pointer;
}
.addOptions {
    height: 40px;
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;

}
#map-store-layers div.toc-default-group  .toc-default-group {
    border-bottom: 0px;
}

.grid-cell-link {
    text-decoration: underline;
    cursor: pointer;
}


#mapstore-helptext-panel {
    right: 150px;
}

.sira-toc-legend {
    width: 90%;
    display: inline-block;
}
.sira-toc-legend-with-tools{
    width: 85%;
    display: inline-block;
}
