<authKeyAuthentication>
  <id>-61691660:1539ed3fa78:-7ffe</id>
  <name>authkey</name>
  <className>org.geoserver.security.GeoServerAuthenticationKeyFilter</className>
  <authKeyMapperName>propertyMapper</authKeyMapperName>
  <authKeyParamName>authkey</authKeyParamName>
  <userGroupServiceName>default</userGroupServiceName>
</authKeyAuthentication>