.nav.navbar-nav {
    background: black none repeat scroll 0 0;
    width: 100%;
}

body.interna {
    background-image: linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -moz-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -ms-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -o-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-gradient(linear, top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
	/*background-size:100%;*/
	}

body.interna #header-servizio{
    background:url("/assets/application/conoscenze_ambientali/css/images/sfondo_azz_sx.png") repeat-y scroll center top transparent;
	min-height:32px;
	height:32px;
	}
	
body.interna header.navbar{
	min-height:32px;
	margin:0;
	}
	
body.interna .spiemonte h1{
	margin:2px 0;
	}
	
body.interna .spiemonte h1 a{
	color:#fff;
	}
	
body.interna .navbar-header{
	float:none;
	}

body.interna .navbar-header h2 {
	text-indent:-10000px;
	margin:0;
}

body.interna .navbar-header .titolo-interna{
    background:#fff url("/assets/application/conoscenze_ambientali/css/images/logo-interna.png") no-repeat scroll 20px 1px;
	height:32px;
	min-height:32px;
	}

body.interna .navbar-header .titolo-interna a{
	height:32px;
	min-height:32px;
	display:block;
	}


body.interna .navbar-header .map-list{
	background:#000;
	border:2px solid #000;
	border-radius:20px;
	color:#fff;
	opacity:.8;
	margin-top:2px;
}
	
body.interna .navbar-header .map-list .btn.btn-primary{
	background:none;
	border:0;
	border-radius:20px;
	padding:2px 6px;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}
	
body.interna .navbar-header .map-list .btn.btn-primary.active{
	background:#fff;
	color:#000;
}
	
body.interna .navbar-header .map-list .btn.btn-primary span.badge{
	padding:3px 5px;
	background:#007e4f;
	color:#fff;
}
	
/* body.interna .navbar-header .checkbox-on-off {
    color: #767676;
    font-size: 18px;
    font-weight: 500;
	position: absolute;
    right: 15px;
    top: 0;
    vertical-align: top;
}
	
body.interna .navbar-header .checkbox-on-off .mappa-on-off{
	color:#000000;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}
	
@media (max-width: 767px) {
body.interna .navbar-header .checkbox-on-off .mappa-on-off{
	display:none;
}
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off {
    cursor: pointer;
    display: inline-block;
    height: 28px;
    overflow: hidden;
    padding-right: 2px;
    position: relative;
    vertical-align: middle;
    width: 50px;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off input[type="checkbox"] {
    height: 28px;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 52px;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off label {
    background: #b8b8b8;
    border: 1px solid transparent;
    border-radius: 20px;
    display: inline-block;
    height: 28px;
    width: 100%;
	margin-bottom:0;
	position:absolute;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off input[type="checkbox"]:checked + label {
    background-color: #007e4f;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off label > * {
    display: inline-block;
    height: 100%;
    transition: width 0.1s ease 0s;
    vertical-align: top;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off .checked {
    line-height: 18px;
    text-align: center;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off .checked, body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off input[type="checkbox"]:checked + label .unchecked {
    width: 0;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off .unchecked, body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off input[type="checkbox"]:checked + label .checked {
    width: 22px;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off .checked::before {
    content: "ON";
    display: inline-block;
    height: 7px;
    vertical-align: middle;
    width: 20px;
	position:absolute;
	left:2px;
	color:#fff;
	top:4px;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off .checked::after {
    color: #fff;
    content: "OFF";
    display: inline-block;
    height: 7px;
    left: 25px;
    position: absolute;
    top: 4px;
    vertical-align: middle;
    width: 20px;
}

body.interna .navbar-header .checkbox-on-off .yt-uix-checkbox-on-off .toggle {
    background: #fbfbfb none repeat scroll 0 0;
    border-radius: 13px;
    width: 24px;
	position:absolute;
	margin-left:-2px;
} */



body.interna .navbar-header .menu-righe{
	padding-right:0;
	text-align:right;
	}
	
body.interna .navbar-header .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
	line-height:0;
}

body.interna .navbar-header .pimenu-navbar-toggle:focus {
    background: #000;
}

body.interna .navbar-header .pimenu-navbar-toggle:focus .fa-bars{
	color:#FFFFFF;
}

body.interna .navbar-default{
	background:none;
	}

body.interna .nav-tabs{
	padding-left:30px;
	border-bottom:0;
	/*margin-bottom:1px;*/
	}

body.interna .nav-tabs li{
	margin-right:10px;
	}

body.interna .nav-tabs li.active a{
	border:0;
	border-bottom:1px solid #007e4f;
	background:#007e4f;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	border-radius:10px 10px 0 0;
	padding:20px 100px 10px;
	font-size:18px;
	}

body.interna .nav-tabs li.disactive{
	margin-top:14px;
	}

body.interna .nav-tabs li.disactive a{
	border:0;
	background:#bdbdbd;
	color:#000;
	text-transform:uppercase;
	padding:10px 65px;
	}

body.interna .nav-tabs li a:hover{
	text-decoration:none;
	}

body.interna .nav-tabs li.disactive a:hover{
	background:#e7e7e7;
	}

body.interna .search-int .row-fluid{
    background:url("/assets/application/conoscenze_ambientali/css/images/sfondo_bianco_sx.png") repeat-y scroll center top transparent;
	}

body.interna .search-interna{
	background:#fff;
	margin: 50px auto;
	padding:40px 20px;
	text-align:right;
	}

body.interna .search-interna .search-3{
	float:right;
	padding-left:0;
	}

body.interna .search-interna .form-group{
	width:100%
	}

body.interna .search-interna input{
    border:1px solid #000;
	border-right:0;
	width: -moz-calc(100% - 250px)!important;
	width: -webkit-calc(100% - 250px)!important;
	width: calc(100% - 250px);
	float:left;
	text-transform:uppercase;
	}

body.interna .search-interna input::-moz-placeholder{
	color:#222!important;
	}

body.interna .search-interna .btn-default {
    background: #666;
    border:1px solid #666;
    color: #fff;
	padding-right:50px;
	/*margin-left:-5px;*/
	width:250px;
	text-align:left;
}

body.interna .search-interna .btn-imprese {
    background:url("/assets/application/conoscenze_ambientali/css/images/imprese-small.png") no-repeat scroll 95% center #666;
}

body.interna .search-interna .btn-default span.caret {
	margin-right:5px;
}

body.interna .search-interna .dropdown-menu.dropdown-menu-right.list-group.categorie {
    width: 600px;
	padding:0;
    border:8px solid #666;
	margin-top:10px;
	/*background:transparent;*/
}

body.interna .search-interna .dropdown-menu.dropdown-menu-right.list-group.categorie::before {
    border-bottom: 11px solid #666;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    right: 124px;
    position: absolute;
    top: -18px;
}

body.interna .search-interna .dropdown-menu.dropdown-menu-right.list-group.categorie::after {
    border-bottom: 10px solid #666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: inline-block;
    right: 125px;
    position: absolute;
    top: -17px;
}

body.interna .search-interna ul.categorie li{
	min-height:120px;
	position:relative;
	margin:0;
	border:0;
	opacity:.8;
	line-height:16px;
}

body.interna .search-interna ul.categorie li div.ogg_appl {
	/*display:none;*/
	position:absolute;
	top:60px;
	left:0;
	width:100%;
	opacity:0;
	margin-top:40px;
	transform:rotateX(90deg);
	transition:.3s;
}

body.interna .search-interna ul.categorie li:hover div.ogg_appl {
	opacity:1;
	margin-top:0;
	transition:.5s;
	transform:rotateX(0deg);
	}

body.interna .search-interna ul.categorie li a{
	margin:3px!important;
	padding:3px;
}

body.interna ul.categorie li.acqua {
    background:url("/assets/application/conoscenze_ambientali/css/images/gocce-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.acqua:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.aria {
    background:url("/assets/application/conoscenze_ambientali/css/images/aria-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.aria:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.bonifiche {
    background:url("/assets/application/conoscenze_ambientali/css/images/bonifiche-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.bonifiche:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.energia {
    background:url("/assets/application/conoscenze_ambientali/css/images/energia-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.energia:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.acustico {
    background:url("/assets/application/conoscenze_ambientali/css/images/acustico-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.acustico:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.elettro {
    background:url("/assets/application/conoscenze_ambientali/css/images/elettro-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.elettro:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.imprese {
    background:url("/assets/application/conoscenze_ambientali/css/images/imprese-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.imprese:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.rifiuti {
    background:url("/assets/application/conoscenze_ambientali/css/images/rifiuti-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.rifiuti:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.rischio {
    background:url("/assets/application/conoscenze_ambientali/css/images/rischio-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.rischio:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.via {
    background:url("/assets/application/conoscenze_ambientali/css/images/via-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.via:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

body.interna ul.categorie li.info {
    background:url("/assets/application/conoscenze_ambientali/css/images/info-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

body.interna ul.categorie li.info:hover {
    background-image:none;
	padding-top:20px;
	transition:.5s;
	}

body.interna .search-interna ul.categorie li.aria, body.interna .search-interna ul.categorie li.energia, body.interna .search-interna ul.categorie li.acustico, body.interna .search-interna ul.categorie li.imprese, body.interna .search-interna ul.categorie li.via, body.interna .search-interna ul.categorie li.vuoto{
	opacity:.7;
}

body.interna .tab-pane{
	background:#fff;
	border-top:16px solid #007e4f;
	border-radius:10px 10px 0 0;
	padding-bottom:50px;
	}

body.interna .tab-pane a:hover{
	text-decoration:none;
	}

body.interna .tab-pane .filtri{
	margin-bottom:25px;
	margin-top:20px;
	}

body.interna .tab-pane h3, body.interna .tab-pane h4{
	padding:0;
	margin:0 15px;
	}

body.interna .tab-pane h5{
	padding:0;
	margin:15px 30px;
	}

body.interna .tab-pane h6{
	padding:0;
	margin:25px 95px;
	font-size:16px;
	}

body.interna .tab-pane h6.titApp{
	padding:0 50px;
	font-size:18px;
	line-height:40px;
	border-bottom:1px solid #000;
	text-transform:uppercase;
	}

body.interna .tab-pane h4 a, body.interna .tab-pane h5 a,  body.interna .tab-pane h5.titApp{
	padding:0 50px;
	font-size:18px;
	line-height:40px;
	border-bottom:1px solid #000;
	}

body.interna .tab-pane h4.noAcc, body.interna .tab-pane h5.noAcc{
	text-transform:uppercase;
	}

body.interna .tab-pane h3 a{
	background:#7d868f;
	color:#fff;
	display:block;
	text-transform:uppercase;
	padding:18px 0 18px 70px;
	font-size:24px;
	}

body.interna .tab-pane h4 a, body.interna .tab-pane h5 a{
	color:#000;
	display:block;
	text-transform:uppercase;
	}

body.interna .tab-pane h6.noAcc{
	padding:0 65px;
	font-size:16px;
	margin-top:20px;
	}

body.interna .tab-pane h6.noAcc a{
	color:#000;
	display:block;
	}

body.interna .riquadro-interno .row {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
	margin:0 65px!important;
	padding:0!important;
	padding-bottom:20px!important;
}

body.interna .riquadro-interno .row div:first-child{
	padding-left:0!important;
}

body.interna .tab-pane h3 a{
	/*border:0;*/
    background:url("/assets/application/conoscenze_ambientali/css/images/ico-meno.png") no-repeat scroll 20px center #7d868f;
	}

body.interna .tab-pane h3 a.collapsed{
	/*border:0;*/
    background:url("/assets/application/conoscenze_ambientali/css/images/ico-piu.png") no-repeat scroll 20px center #7d868f;
	}

body.interna .tab-pane h4.noAcc a, body.interna .tab-pane h5.noAcc a{
	/*border:0;*/
    background:none;
	}

body.interna .tab-pane h4 a, body.interna .tab-pane h5 a{
	/*border:0;*/
    background:url("/assets/application/conoscenze_ambientali/css/images/ico-meno-small.png") no-repeat scroll 5px center transparent;
	}

body.interna .tab-pane h4 a.collapsed, body.interna .tab-pane h5 a.collapsed{
	/*border:0;*/
    background:url("/assets/application/conoscenze_ambientali/css/images/ico-piu-small.png") no-repeat scroll 5px center transparent;
	}

body.interna .tab-pane .riquadro{
	border:1px solid #000;
	border-top:0;
	padding-top:50px;
	padding-bottom:50px;
	margin:0 15px;
	}

body.interna .tab-pane .riquadro .row {
    margin: 15px;
	padding:0 35px;
}

body.interna .tab-pane .riquadro .row.row-h5{
    margin: 15px;
	padding:0 50px;
}

body.interna .tab-pane .riquadro .row.row-h6{
    margin: 15px;
	padding:0 65px;
}

body.interna .tab-pane .row.row-app {
    margin: 15px;
	padding:0 35px;
}

body.interna .azione a{
	text-align:center;
	display:block;
	color:#000;
	padding-top:40px;
}

body.interna .azione a:hover{
	text-decoration:none;
}

body.interna .azione a.ico_cerca{
    background:url("/assets/application/conoscenze_ambientali/css/images/lente.png") no-repeat scroll center top transparent;
}

body.interna .azione a.ico_mappa{
    background:url("/assets/application/conoscenze_ambientali/css/images/mappa.png") no-repeat scroll center top transparent;
}

body.interna .azione a.ico_indica{
    background:url("/assets/application/conoscenze_ambientali/css/images/grafico.png") no-repeat scroll center top transparent;
}

body.interna .azione a.ico_bi{
    background:url("/assets/application/conoscenze_ambientali/css/images/cubo.png") no-repeat scroll center top transparent;
}

body.interna .azione a.ico_colle{
    background:url("/assets/application/conoscenze_ambientali/css/images/colleziona.png") no-repeat scroll center top transparent;
}

body.interna .azione a.ico_naviga{
    background:url("/assets/application/conoscenze_ambientali/css/images/naviga.png") no-repeat scroll center top transparent;
}

body.interna .more-less span.leggitutto {
    display: none;
}
body.interna .more-less span.leggimeno {
    display: block;
}
body.interna .more-less.collapsed span.leggitutto {
    display: block;
}
body.interna .more-less.collapsed span.leggimeno {
    display: none;
}