div.mappaSiraDecisionale {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav.navbar-nav {
    background: black none repeat scroll 0 0;
    width: 100%;
	z-index:1000;
}

div.mappaSiraDecisionale {
    background-image: linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -moz-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -ms-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -o-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-gradient(linear, top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
	/*background-size:100%;*/
	}

div.mappaSiraDecisionale #header-servizio{
    background:url("images/sfondo_azz_sx.png") repeat-y scroll center top transparent;
	min-height:32px;
	height:32px;
	width:100%;
	z-index:1000;
	position:absolute;
	}

div.mappaSiraDecisionale header.navbar{
	min-height:32px;
	margin:0;
	border:0!important;
	}

div.mappaSiraDecisionale .spiemonte h1{
	margin:2px 0;
	font-size:26px;
	font-weight:bold;
	}

div.mappaSiraDecisionale .spiemonte h1 a{
	color:#fff;
	}

div.mappaSiraDecisionale .navbar-header{
	float:none;
	}

div.mappaSiraDecisionale .navbar-header h2 {
	text-indent:-10000px;
	margin:0;
}

div.mappaSiraDecisionale .navbar-header .titolo-interna{
    background:#fff url("images/logo-interna.png") no-repeat scroll 20px 1px;
	height:32px;
	min-height:32px;
	}


div.mappaSiraDecisionale .navbar-header .map-list{
	background:#000;
	border:2px solid #000;
	border-radius:20px;
	color:#fff;
	opacity:.8;
	margin-top:2px;
}

div.mappaSiraDecisionale .navbar-header .map-list .btn.btn-primary{
	background:none;
	border:0;
	border-radius:20px;
	padding:2px 6px;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}

div.mappaSiraDecisionale .navbar-header .map-list .btn.btn-primary.active{
	background:#fff;
	color:#000;
}

div.mappaSiraDecisionale .navbar-header .map-list .btn.btn-primary span.badge{
	padding:3px 5px;
	background:#007e4f;
	color:#fff;
}

div.mappaSiraDecisionale .navbar-header .menu-righe{
	padding-right:0;
	text-align:right;
	}

div.mappaSiraDecisionale .navbar-header .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
	line-height:0;
}

div.mappaSiraDecisionale .navbar-default{
	background:none;
	}

div.mappaSiraDecisionale .querypanel-container {
    border-radius: 0;
	border:0;
}

div.mappaSiraDecisionale .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	background:#007e4f;
	border:0;
}

div.mappaSiraDecisionale button.close {
	opacity:1;
}

div.mappaSiraDecisionale button.close:hover, div.mappaSiraDecisionale button.close:focus {
	opacity:.5;
}

div.mappaSiraDecisionale .querypanel-container .panel-title a {
	text-transform:uppercase;
	font-weight:bold;
}

div.mappaSiraDecisionale .querypanel-container .dhContainer {
    border: 0;
    border-radius: 0;
}

div.mappaSiraDecisionale .querypanel-container .dhContainer h4.ftheader {
    color: #007e4f;
	text-transform:uppercase;
}

div.mappaSiraDecisionale .querypanel-container .querypanel {
    height: auto;
    max-height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

div.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading {
	background:#eee;
	border:0;
	margin-bottom:5px;
}

div.mappaSiraDecisionale .querypanel-container .querypanel .panel-title a {
	text-transform:uppercase;
	font-weight:bold;
}

div.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading + div{
	background:#eee;
}

div.mappaSiraDecisionale .querypanel-container .querypanel .panel-default {
	border:0;
	box-shadow:none;
	background:none;
}

div.mappaSiraDecisionale .querypanel-container .querypanel .panel-default .logicHeader {
	background:none;
	    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.queryFormToolbar {
    float: none!important;
    text-align: center;
}

.queryFormToolbar button{
    float: none!important;
	border:0;
	border-radius:0;
}

.queryFormToolbar button:first-child{
	background:#007e4f none repeat scroll 0 0;
	color:#FFFFFF;
}
.queryFormToolbar button:first-child{
	background:#007e4f none repeat scroll 0 0;
	color:#FFFFFF;
}
.queryFormToolbar button:hover{
	background:#000;
}

.queryFormToolbar button[disabled]:hover, .queryFormToolbar button[disabled]:focus{
	background:#ccc;
}

.rw-dropdownlist.rw-widget, .rw-dropdownlist.rw-widget:hover{
/*     background: #666;
    border: 0 none; */
    border-radius: 0;
}

.rw-dropdownlist.rw-widget .rw-input {
/*     color: #fff; */
    color: #000;
}

.rw-dropdownlist.rw-widget .rw-btn {
/*     color: #fff; */
}

.btn {
    border-radius: 0;
}

.featuregrid-container, .scheda-sira .panel {
    border-radius: 0;
	border:0;
}

.scheda-sira .panel-default {
    border-radius: 0;
}

.scheda-sira .panel-default .panel-heading {
	background:#eee;
}

.btn-toolbar.btn-toolbar-sm > button {
	background:none;
	border:1px solid #ccc;
	padding:4px 10px;
	margin-right:5px;
}

.ag-fresh .ag-header-cell {
	background:#fff;
	font-weight:bold;
}

/* ----------FILTRI------------ */


#attributeFilterPanel .panel-body {
    padding: 10px;
}
#spatialFilterPanel  .panel-body {
    padding: 10px;
}

#attributeFilterPanel .panel-body .panel-body {
    background: #fff none repeat scroll 0 0;
}
#attributeFilterPanel .panel-body .panel-body .panel-body {
    background: #eee none repeat scroll 0 0;
}#attributeFilterPanel .panel-body .panel-body .panel-body .panel-body {
    background: #fff none repeat scroll 0 0;
}
#add-filter-field.btn.btn-default {
    border: 0 none;
	background: transparent none repeat scroll 0 0;
}
#add-condition-group.btn.btn-default {
    border: 0 none;
	background: transparent none repeat scroll 0 0;
}

.dhContainer {
    background-color: #fff!important;
}
.dhContainer h4 {
    margin: 2px;
    padding-left: 0!important;
}
.dhContainer > label {
    font-weight: 300;
}

