.nav.navbar-nav {
    background: black none repeat scroll 0 0;
    width: 100%;
}

.dataset-container {
    overflow: scroll;
    }
.dataset-search-container{
    margin-top: 30px;
}
.dataset-results-container{
    clear: both;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.dataset-footer-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}
#dataset.interna #header-servizio{
    background:url("images/sfondo_azz_sx.png") repeat-y scroll center top transparent;
    min-height:55px;
    height:55px;
    }

#dataset.interna header.navbar{
    min-height:55px;
    margin:0;
    }

#dataset.interna .spiemonte h1{
    margin:2px 0;
    line-height:55px;
    }

#dataset.interna .spiemonte h1 a{
    color:#fff;
    }

#dataset.interna .navbar-header{
    float:none;
    }

#dataset.interna .navbar-header h2 {
    text-indent:-10000px;
    margin:0;
}

#dataset.interna .navbar-header .titolo-interna{
    background:#fff url("images/logo-interna.png") no-repeat scroll 20px center;
    height:55px;
    min-height:55px;
    }

#dataset.interna .navbar-header .titolo-interna a{
    height:55px;
    min-height:55px;
    display:block;
    }


#dataset.interna .navbar-header .map-list{
    background:#000;
    border:2px solid #000;
    border-radius:20px;
    color:#fff;
    margin-top:13px;
}

#dataset.interna .navbar-header .map-list .btn.btn-primary{
    background:none;
    border:0;
    border-radius:20px;
    padding:2px 6px;
    font-size:14px;
    font-weight: bold;
    text-transform:uppercase;
}

#dataset.interna .navbar-header .map-list .btn.btn-primary.active{
    background:#fff;
    color:#000;
}

#dataset.interna .navbar-header .map-list .btn.btn-primary span.badge{
    padding:3px 5px;
    background:#007e4f;
    color:#fff;
}





#dataset.interna .navbar-header .menu-righe{
    padding-right:0;
    text-align:right;
    }

#dataset.interna .navbar-header .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
     line-height: 50px;
}

#dataset.interna .navbar-header .pimenu-navbar-toggle:focus {
    background: #000;
}

#dataset.interna .navbar-header .pimenu-navbar-toggle:focus .fa-bars{
    color:#FFFFFF;
}

#dataset.interna .navbar-default{
    background:none;
    }

.dataset-tabs .nav-tabs{
    padding-left:30px;
    border-bottom:0;
    /*margin-bottom:1px;*/
    }





.dataset-tabs .nav-tabs li{
    margin-right:10px;
    margin-top:14px;
    outline: none;
    }
.dataset-tabs .nav-tabs li.active{
        margin-top:0px;
        background:none;
        }

.dataset-tabs .nav-tabs li a{
        border: 0;
        background:#bdbdbd;
        color:#000;
        border-bottom: 1px solid #bdbdbd;
        text-transform:uppercase;
        padding:10px 65px;
        outline: none;
        }
.dataset-tabs .nav-tabs li.active a{
    border:0;
    border-bottom:1px solid #007e4f;
    background:#007e4f;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:10px 10px 0 0;
    padding:20px 100px 10px;
    font-size:18px;
    }

.dataset-tabs .nav-tabs li a:hover{
        background:#e7e7e7;
        }

.dataset-tabs .nav-tabs li.active a:hover{
    text-decoration:none;
    background:#007e4f;
    }


#dataset-toc .group-collapsed.toc-default-group{
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}
#dataset-toc .group-expanded.toc-default-group{
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
#dataset-toc .toc-subgroup .group-expanded.toc-default-group{
    border-bottom: 0px solid black;
}
#dataset-toc .toc-subgroup .group-collapsed.toc-default-group{
    border-bottom: 1px solid black;
}
#dataset-toc .toc-subgroup .toc-group-children{
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#dataset-toc .toc-group-children{
    border: 1px solid black;
    margin-left: 0px;
    border-top: 0px;
    padding-bottom: 30px;
}
#dataset-toc .toc-group-title{
    font-size: x-large;
    background-color: #7d868f;
    color: white;
    text-transform: uppercase;
}
#dataset-toc .toc-subgroup .toc-group-title{
    font-size: large;
    background-color: transparent;
    color: black;
    margin-top: 10px;
}
#dataset-toc .toc-subgroup .glyphicon-folder-close:before {
    font-size: small;
}
#dataset-toc .glyphicon-folder-close:before {
    content: "\e081";
    font-family: "Glyphicons Halflings" !important;
   font-size: large;
    /* background-color: white; */
}
#dataset-toc .toc-subgroup .glyphicon-folder-open:before {
    font-size: small;
}
#dataset-toc .glyphicon-folder-open:before {
    content:"\e082";
    font-family: "Glyphicons Halflings" !important;
    font-size: large;
}
#dataset-toc .layer-content{
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid black;
    padding-top: 30px;
}
#dataset-toc .layer-description{max-width: 80%;display: inline-block;overflow: hidden;text-overflow: ellipsis;text-align: -webkit-auto;text-transform: initial;}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object.flat{
    padding: 30px;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object{
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 16px;
    margin-bottom: 30px;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object .glyphicon-search:before{
    /* font-family: "Glyphicons Halflings"; */
    font-size: xx-large;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object .glyphicon-th:before {

    font-size: xx-large;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object .glyphicon-plus-sign:before {
    content:"\6e";
   font-size: xx-large;
    /* background-color: white; */
}

#dataset-toc .toc-title{
    max-width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}
#dataset-toc, #dataset-results-view{
    background:#fff;
    border-top:16px solid #007e4f;
    border-radius:10px 10px 0 0;
    padding-bottom:50px;
    padding-top: 20px;
    min-height: 200px;
    }

.dataset-categories-switch-container{
    background-color: #007e4f;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: calc(100% * 0.15);
    margin-right: calc(100% * 0.15);
    clear: both;
    text-align: center;
}
.dataset-categories-switch {
    padding: 10px;
    font-size:20px;
    cursor: pointer;
}
#dataset-results-view .sira-view{
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}
#dataset-results-view .sira-view-title span{
    min-width: 100%
}
#dataset-results-view .sira-view-content .sira-view-description{
    min-width: 80%;
    text-transform: none;
}
#dataset-results-view .sira-view-tool{
    max-width: 20%;
    float: right;
}
#dataset-results-view .sira-view-content {
    border-top: 1px solid black;
    padding-top: 30px;
}
.sira-view-tool  span{
    margin-top: 0px !important;
}
.sira-view-tool  .glyphicon-plus-sign:before {
    content:"\6e";
   font-size: xx-large;
   color: black;
}

.dataset-mosaic-container{
width: 750px;
padding: 0px;
background-color: rgba(0, 0, 0, .73);
}

.dataset-mosaic-container .row {
    margin: 0px;
}

.dataset-container .loading-container{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: white;
    border-top: 16px solid #007e4f;
    border-radius-top: 10px
}

.searchclear.glyphicon.glyphicon-remove:before{
    font-size: x-large;
}


