body.body_dataset #container, body.body_dataset .fill, body.body_dataset {
    height: auto!important;
    position: relative!important;
}

body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	}

.nav.navbar-nav {
    background: black none repeat scroll 0 0;
    width: 100%;
}

div.interna
 {
    background-image: linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -moz-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -ms-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -o-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-gradient(linear, top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
	/*background-size:100%;*/
	}

div.interna
 header.navbar{
	min-height:30px;
	margin:0;
	background:#fff;
	}

div.interna
 header.navbar h1{
	padding:2px 5px;
	line-height:30px;
	float:left;
	background:#0053A8;
	margin:0;
	}

div.interna
 header.navbar h1 a{
	color:#fff;
	}

div.interna
 header.navbar h1 a:hover{
	text-decoration:none;
	}

div.interna
 header.navbar h1 a span{
	border:1px solid #fff;
	font-size:20px;
	padding:0 2px;
	}

div.interna
 .navbar-header{
	float:none;
	}

div.interna
 .navbar-header h2 {
	/*text-indent:-10000px;*/
	margin:2px 0;
	line-height:30px;
	color:#0053A8;
	margin-left:10px;
	float:left;
}

div.interna
 .navbar-header h2 span{
	font-weight:normal;
}

div.interna
 .navbar-header .titolo-interna{
    background:#fff url("images/logo-interna.png") no-repeat scroll 20px center;
	height:55px;
	min-height:55px;
	}

div.interna
 .navbar-header .titolo-interna a{
	height:55px;
	min-height:55px;
	display:block;
	}


div.interna
 .navbar-header .map-list{
	background:#000;
	border:2px solid #000;
	/*border-radius:20px;*/
	color:#fff;
	margin-top:3px;
	float:left;
}

div.interna
 .navbar-header .map-list .btn.btn-primary{
	background:none;
	border:0;
	/*border-radius:20px;*/
	padding:2px 6px;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}

div.interna
 .navbar-header .map-list .btn.btn-primary.active{
	background:#fff;
	color:#000;
}

div.interna
 .navbar-header .map-list .btn.btn-primary span.badge{
	padding:3px 5px;
	background:#007e4f;
	color:#fff;
	position:relative;
	left:3px;
	top:0;
}

@media (max-width: 767px) {
div.interna
 .navbar-header .map-list .btn.btn-primary span.label-text{
	display:none;
}
}

div.interna
 .navbar-header .testalino-sx {
	padding-left:0;
}

div.interna
 .navbar-header .testalino-dx {
	padding-right:0;
}

div.interna
 .navbar-header .testalino-dx .pull-right{
	margin-right:40px;
}

div.interna
 .navbar-header .dropdown {
    float: left;
}

div.interna
 .navbar-header .btn-login {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 1px 3px;
	color:#000;
}

div.interna
 .navbar-header .fa.fa-user-circle-o.fa-2x {
    font-size: 28px;
    margin-top: 2px;
}

div.interna
 .navbar-header .dropdown-menu {
	background:#007E4F;
}

div.interna
 .navbar-header .dropdown-menu a{
	color:#FFF;
	font-size:20px;
}

div.interna
 .navbar-header .dropdown-menu a:hover{
	text-decoration:underline;
}

div.interna
 .navbar-header .menu-righe{
	padding-right:0;
	/*text-align:right;*/
	}

div.interna
 .navbar-header .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 26px;
	 line-height: 30px;
}

div.interna
 .navbar-header .pimenu-navbar-toggle:focus {
    background: #000;
}

div.interna
 .navbar-header .pimenu-navbar-toggle:focus .fa-bars{
	color:#FFFFFF;
}

div.interna
 .navbar-default{
	background:none;
	}

div.interna
 .nav-tabs{
	padding-left:30px;
	border-bottom:0;
	/*margin-bottom:1px;*/
	}

div.interna
 .nav-tabs li{
	margin-right:10px;
	}

div.interna
 .nav-tabs li.active a{
	border:0;
	border-bottom:1px solid #007e4f;
	background:#007e4f;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	border-radius:10px 10px 0 0;
	padding:20px 100px 10px;
	font-size:18px;
	}

div.interna
 .nav-tabs li.disactive{
	margin-top:14px;
	}

div.interna
 .nav-tabs li.disactive a{
	border:0;
	background:#bdbdbd;
	color:#000;
	text-transform:uppercase;
	padding:10px 65px;
	}

div.interna
 .nav-tabs li a:hover{
	text-decoration:none;
	}

div.interna
 .nav-tabs li.disactive a:hover{
	background:#e7e7e7;
	}

div.interna
 .search-int .row-fluid{
    background:url("images/sfondo_bianco_sx.png") repeat-y scroll center top transparent;
	}

div.interna
 .search-interna{
	background:#fff;
	margin: 50px auto;
	padding:40px 20px;
	text-align:right;
	}

div.interna
 .search-interna .search-3{
	float:right;
	padding-left:0;
	}

div.interna
 .search-interna .form-group{
	width:100%
	}

div.interna
 .search-interna input{
    border:1px solid #000;
	border-right:0;
	width: -moz-calc(100% - 250px)!important;
	width: -webkit-calc(100% - 250px)!important;
	width: calc(100% - 250px);
	float:left;
	text-transform:uppercase;
	}

div.interna
 .search-interna input::-moz-placeholder{
	color:#222!important;
	}

div.interna
 .search-interna .btn-default {
    background: #666;
    border:1px solid #666;
    color: #fff;
	padding-right:50px;
	/*margin-left:-5px;*/
	width:250px;
	text-align:left;
}

div.interna
 .search-interna .btn-imprese {
    background:url("images/imprese-small.png") no-repeat scroll 95% center #007e4f;
}

div.interna
 .search-interna .btn-default span.caret {
	margin-right:5px;
}

div.interna
 .search-interna .dropdown-menu.dropdown-menu-right.list-group.categorie {
    width: 600px;
	padding:0;
    border:8px solid #666;
	margin-top:10px;
	/*background:transparent;*/
}

div.interna
 .search-interna .dropdown-menu.dropdown-menu-right.list-group.categorie::before {
    border-bottom: 11px solid #666;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    right: 124px;
    position: absolute;
    top: -18px;
}

div.interna
 .search-interna .dropdown-menu.dropdown-menu-right.list-group.categorie::after {
    border-bottom: 10px solid #666;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: inline-block;
    right: 125px;
    position: absolute;
    top: -17px;
}

div.interna
 .search-interna ul.categorie li{
	min-height:120px;
	position:relative;
	margin:0;
	border:0;
	opacity:.8;
	line-height:16px;
}

div.interna
 .search-interna ul.categorie li div.ogg_appl {
	/*display:none;*/
	position:absolute;
	top:60px;
	left:0;
	width:100%;
	opacity:0;
	margin-top:40px;
	transform:rotateX(90deg);
	transition:.3s;
}

div.interna
 .search-interna ul.categorie li:hover div.ogg_appl {
	opacity:1;
	margin-top:0;
	transition:.5s;
	transform:rotateX(0deg);
	}

div.interna
 .search-interna ul.categorie li a{
	margin:3px!important;
	padding:3px;
}

div.interna
 ul.categorie li.acqua {
    background:url("images/gocce-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.acqua:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.aria {
    background:url("images/aria-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.aria:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.bonifiche {
    background:url("images/bonifiche-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.bonifiche:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.energia {
    background:url("images/energia-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.energia:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.acustico {
    background:url("images/acustico-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.acustico:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.elettro {
    background:url("images/elettro-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.elettro:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.imprese {
    background:url("images/imprese-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.imprese:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.rifiuti {
    background:url("images/rifiuti-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.rifiuti:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.rischio {
    background:url("images/rischio-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.rischio:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.via {
    background:url("images/via-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.via:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.all {
    background:url("images/tutte-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.all:hover {
    background-image:none;
	padding-top:20px;
	transition:.3s;
	}

div.interna
 ul.categorie li.info {
    background:url("images/info-small.png") no-repeat scroll center 15px #000;
	opacity:.8;
	padding-top:40px;
	text-align:center;
	color:#fff;
	font-size:14px;
	}

div.interna
 ul.categorie li.info:hover {
    background-image:none;
	padding-top:20px;
	transition:.5s;
	}

div.interna
 .search-interna ul.categorie li.aria, div.interna
 .search-interna ul.categorie li.energia, div.interna
 .search-interna ul.categorie li.acustico, div.interna
 .search-interna ul.categorie li.imprese, div.interna
 .search-interna ul.categorie li.via, div.interna
 .search-interna ul.categorie li.vuoto, div.interna .search-interna ul.categorie li.all{
	opacity:.7;
}

div.interna
 .tab-pane{
	background:#fff;
	border-top:16px solid #007e4f;
	border-radius:10px 10px 0 0;
	padding-bottom:50px;
	}


div.interna
 .tab-pane a:hover{
	text-decoration:none;
	}

div.interna
 .tab-pane .filtri{
	/*margin-bottom:25px;*/
	margin-top:20px;
	}

div.interna
 .tab-pane h3, div.interna
 .tab-pane h4{
	padding:0;
	margin:0 15px;
	}

div.interna
 .tab-pane h3{
	margin-top:30px;
	}

div.interna
 .tab-pane h5{
	padding:0;
	margin:15px 30px;
	}

div.interna
 .tab-pane h6{
	padding:0;
	margin:25px 95px;
	font-size:16px;
	}

div.interna
 .tab-pane h6.titApp{
	padding:0 50px;
	font-size:18px;
	line-height:40px;
	border-bottom:1px solid #000;
	text-transform:uppercase;
	}

div.interna
 .tab-pane h4 a, div.interna
 .tab-pane h5 a,  div.interna
 .tab-pane h5.titApp{
	padding:0 50px;
	font-size:18px;
	line-height:40px;
	/*border-bottom:1px solid #000;*/
	}

div.interna
 .tab-pane h4.noAcc, div.interna
 .tab-pane h5.noAcc{
	text-transform:uppercase;
	}

div.interna
 .tab-pane h3 a{
	background:#7d868f;
	color:#fff;
	display:block;
	text-transform:uppercase;
	padding:18px 0 18px 70px;
	font-size:24px;
	}

div.interna
 .tab-pane h4 a, div.interna
 .tab-pane h5 a{
	color:#fff;
	display:block;
	text-transform:uppercase;
	}

div.interna
 .tab-pane h6.noAcc{
	padding:0 65px;
	font-size:16px;
	margin-top:20px;
	}

div.interna
 .tab-pane h6.noAcc a{
	color:#000;
	display:block;
	}

div.interna
 .riquadro-interno .row {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
	margin:0 65px!important;
	padding:0!important;
	padding-bottom:20px!important;
}

div.interna
 .riquadro-interno .row div:first-child{
	padding-left:0!important;
}

div.interna
 .tab-pane h3 a{
	/*border:0;*/
    background:url("images/ico-meno.png") no-repeat scroll 20px center #017f4f;
	}

div.interna
 .tab-pane h3 a.collapsed{
	/*border:0;*/
    background:url("images/ico-piu.png") no-repeat scroll 20px center #017f4f;
	}

div.interna
 .tab-pane h4.noAcc a, div.interna
 .tab-pane h5.noAcc a{
	/*border:0;*/
    background:url("images/quadretto.png") no-repeat scroll left center transparent;
	color:#000;
	text-transform:none;
	}

div.interna .tab-pane h4 a{
	/*border:0;*/
    background:#009e61 url("images/ico-meno-small.png") no-repeat scroll 5px center;
	}

div.interna .tab-pane h4 a.collapsed{
	/*border:0;*/
    background:#009e61 url("images/ico-piu-small.png") no-repeat scroll 5px center;
	}

div.interna .tab-pane h5 a{
	/*border:0;*/
    background:#00b16b url("images/ico-meno-small.png") no-repeat scroll 5px center;
	}

div.interna .tab-pane h5 a.collapsed{
	/*border:0;*/
    background:#00b16b url("images/ico-piu-small.png") no-repeat scroll 5px center;
	}

div.interna
 .tab-pane .riquadro{
	border:1px solid #000;
	border-top:0;
	padding-top:50px;
	padding-bottom:50px;
	margin:0 15px;
	background:#B0B0B0;
	}

div.interna
 .tab-pane .riquadro .row {
    margin: 15px;
	padding:0 35px;
}

div.interna
 .tab-pane .riquadro .row.row-h5{
    margin: 15px;
	padding:0 50px;
}

div.interna
 .tab-pane .riquadro .row.row-h6{
    margin: 15px;
	padding:0 65px;
}

div.interna
 .tab-pane .row.row-app {
    margin: 15px;
	padding:0 35px;
}

div.interna
 .tab-pane .riquadro .riquadro-int{
	padding-top:30px;
	padding-bottom:30px;
	margin:0 15px;
	background:#dedede;
	}

div.interna
 .tab-pane .riquadro .riquadro-int-int{
	padding-top:20px;
	padding-bottom:20px;
	margin:0 30px;
	background:#fff;
	}

div.interna
 .azione a{
	text-align:center;
	display:block;
	color:#000;
	padding-top:40px;
}

div.interna
 .azione a:hover{
	text-decoration:none;
}

div.interna
 .azione a.ico_cerca{
    background:url("images/lente.png") no-repeat scroll center top transparent;
}

div.interna
 .azione a.ico_mappa{
    background:url("images/mappa.png") no-repeat scroll center top transparent;
}

div.interna
 .azione a.ico_indica{
    background:url("images/grafico.png") no-repeat scroll center top transparent;
}

div.interna
 .azione a.ico_bi{
    background:url("images/cubo.png") no-repeat scroll center top transparent;
}

div.interna
 .azione a.ico_colle{
    background:url("images/colleziona.png") no-repeat scroll center top transparent;
}

div.interna
 .azione a.ico_naviga{
    background:url("images/naviga.png") no-repeat scroll center top transparent;
}

div.interna
 .more-less span.leggitutto {
    display: none;
}
div.interna
 .more-less span.leggimeno {
    display: block;
}
div.interna
 .more-less.collapsed span.leggitutto {
    display: block;
}
div.interna
 .more-less.collapsed span.leggimeno {
    display: none;
}



/*menu-offcanvas*/
.navbar a.offcanvas-toggle {
	cursor:pointer;
}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

	#offcanvas-sidebar {
		display:block;
		position:absolute;
		z-index:99;
		width:400px;
		right:0px;
		top:0px;
		min-height:1800px;
		background-color: #007E4F !important;
    	opacity: 0.93;
    	top: -11px !important;
		padding-right:0;
	}

#offcanvas-sidebar .nav {
    margin-top: 45px;
	margin-bottom:0;
	padding-left:0;
    background: none;
}

#offcanvas-sidebar .nav > li:hover, #offcanvas-sidebar .nav > li:focus {
    background-color: #000;
    border-top: 1px solid #000;
    color: #fff;
    margin-top: -1px;
}

#offcanvas-sidebar .nav > li > a {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-left: 16px;
    margin-right: 16px;
    padding-right: 0;
    padding-left: 0;
    text-align: right;
}

#offcanvas-sidebar .nav > li > a:hover {
    border-bottom: 1px solid #000;
}

#offcanvas-sidebar .nav > li:hover > a{
    border-bottom: 1px solid #000;
}

#offcanvas-sidebar .nav > li.dropdown.open > a {
    /*background-color: transparent;
    color: #fff;*/
}

#offcanvas-sidebar .nav > li:hover > a, #offcanvas-sidebar .nav > li:focus > a{
    color: #fff!important;
}

.navbar-default .navbar-nav .open .dropdown-menu {
	background:#ffe033;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    font-size: 15px;
    margin-left: 0;
    margin-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: right;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background:none;
	text-decoration:underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

	.navbar a.offcanvas-toggle {
		position:absolute;
		display:block;
		z-index:999;
		top:5px;
		right:12px;
		color:#000;
	}
/*.nav.navbar-nav.navbar-right {
    background: #0150ac;
    bottom: 0;
    height: 100%;
    margin: 0;
    min-height: 100%;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    width: 350px;
    z-index: 100000;
}*/

.interna .dataset-search-container {
    margin-bottom: 50px;
    margin-top: 50px;
}
.interna .siracatalog-search-selector {
    background-color: #007e4f  !important;
	box-shadow: none;
	border:0;
}
.interna .catalog-search-container .MapSearchBar .input-group {
    border: 1px solid #000;
    box-shadow: none!important;
	border-radius:0;
	border-right:0;
}
.interna #dataset-results-view .sira-view-content .sira-view-description {
	font-weight:normal;
}
.interna .dataset-categories-switch-container {
    background: none;
    text-align: right;
}
.interna .dataset-categories-switch {
    background: #017f4f none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
	width:250px;
	text-align:center;
	box-sizing:border-box;
	float:right;
}
.interna .dataset-categories-switch > span::before {
    bottom: 5px;
    content: "\f107";
    font-family: FontAwesome;
    margin-right: 10px;
}
.infobox-content .panel-heading {
    background: #017f4f none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: white;
}
.infobox-content .panel-body a.infobox-metadata-url {
	display:block;
}
.infobox-content .panel-body > button {
    background: #017f4f none repeat scroll 0 0;
    border: 0 none;
    color: white;
    margin: 10px 0;
    padding: 5px 10px;
}
.infobox-content .panel-body > button::before {
    /*bottom: 5px;*/
    content: "\f107";
    font-family: FontAwesome;
    margin-right: 10px;
}
.infobox-content .modal-dialog-container {
    box-shadow: none;
}
.infobox-content .panel-body .toolbar-panel.modal-dialog-container .panel-body {
    padding: 10px;
}
.infobox-content .panel-body .toolbar-panel.modal-dialog-container .panel-body .infobox-legend-container{
	border:0;
	margin-bottom:0;
    box-shadow: none;
}
.infobox-content .panel-body .toolbar-panel.modal-dialog-container .panel-body .infobox-legend-container .panel-body{
    padding: 0;
}
/*LOGIN*/
.navbar-header .dropdown-toggle, .navbar-header .dropdown-toggle:hover, .navbar-header .dropdown-toggle:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #000;
    padding: 1px 3px;
	height:auto;
	width:auto;
}
.navbar-header .dropdown-toggle .glyphicon-user::before {
    content: "\f2be"!important;
	font-family:FontAwesome!important;
}
.navbar-header .dropdown-toggle .glyphicon {
    font-size: 28px;
    margin-left: 0;
	top:-2px;
}
.navbar-header .dropdown-toggle .caret {
	display:none;
}
.navbar-header .dropdown-menu {
	border:0;
}
.navbar-header .dropdown-menu a, .navbar-header .dropdown-menu a:hover, .navbar-header .dropdown-menu a:focus {
	background:#007e4f;
}
.navbar-header .dropdown-menu a .glyphicon-log-in {
	color:#fff;
}
.navbar-header .dropdown-menu a .glyphicon-log-in::before {
    content: "\f090"!important;
	font-family:FontAwesome!important;
}
#offcanvas-sidebar .nav > li {
    border-bottom: 1px solid #fff;
    color: #fff;
    float: none;
    font-size: 20px;
    font-weight: 300;
    margin-left: 32px;
    margin-right: 16px;
    padding: 10px;
    text-align: right;
    line-height: 21px;
    cursor: pointer;
}
button.close {
    opacity: 1;
}
#dataset-toc, #dataset-results-view {
    max-height: 400px;
    overflow-y: auto;
}
.body_map .querypanel.widthclass {
    min-width: auto;
}
