body.body_home #container, body.body_home .fill, body.body_home {
    height: auto!important;
    position: relative!important;
}

body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	}

div.home-page {
    background:url("images/desk2.jpg") no-repeat scroll center top #f2f2f2;
	/*background-size:100%;*/
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	}


div.clear {
	clear:both;
	}

div.home-page header.navbar{
	min-height:30px;
	margin:0;
	background-color:rgba(0, 126, 79, 0.2);
	}

div.home-page header.navbar h1{
	padding:2px 5px;
	line-height:30px;
	float:left;
	background:#0053A8;
	margin:0;
	}

div.home-page header.navbar h1 a{
	color:#fff;
	}

div.home-page header.navbar h1 a:hover{
	text-decoration:none;
	}

div.home-page header.navbar h1 a span{
	border:1px solid #fff;
	font-size:20px;
	padding:0 2px;
	}

div.home-page .navbar-header{
	float:none;
    background:url("images/logo.png") no-repeat scroll center 100px transparent;
	min-height:200px;
	}

div.home-page .navbar-header h2 {
	text-indent:-10000px;
	margin:2px 0;
	line-height:30px;
	color:#0053A8;
	margin-left:10px;
	float:left;
}

div.home-page .navbar-header h2 span{
	font-weight:normal;
}

div.home-page .navbar-header .titolo-interna{
    background:#fff url("images/logo-interna.png") no-repeat scroll 20px center;
	height:55px;
	min-height:55px;
	}

div.home-page .navbar-header .titolo-interna a{
	height:55px;
	min-height:55px;
	display:block;
	}


div.home-page .navbar-header .map-list{
	background:#000;
	border:2px solid #000;
	border-radius:20px;
	color:#fff;
	margin-top:3px;
	float:left;
}

div.home-page .navbar-header .map-list .btn.btn-primary{
	background:none;
	border:0;
	border-radius:20px;
	padding:2px 6px;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}

div.home-page .navbar-header .map-list .btn.btn-primary.active{
	background:#fff;
	color:#000;
}

div.home-page .navbar-header .map-list .btn.btn-primary span.badge{
	padding:3px 5px;
	background:#007e4f;
	color:#fff;
}

@media (max-width: 767px) {
div.home-page .navbar-header .map-list .btn.btn-primary span.label-text{
	display:none;
}
body {
    background:none;
	}
div.home-page .navbar-header{
    background:none;
	min-height:auto;
	}
div.home-page .navbar-header h2 {
	text-indent:0px;
	font-size:1.2em;
}
}
@media (max-width: 500px) {
div.home-page .navbar-header h1 {
	display:none;
}
div.home-page .navbar-header h2 {
	font-size:1em;
}
}

div.home-page .navbar-header .testalino-sx {
	padding-left:0;
}

div.home-page .navbar-header .testalino-dx {
	padding-right:0;
}

div.home-page .navbar-header .testalino-dx .pull-right{
	margin-right:40px;
}

div.home-page .navbar-header .dropdown {
    float: left;
}

div.home-page .navbar-header .btn-login {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 1px 3px;
	color:#000;
}

div.home-page .navbar-header .fa.fa-user-circle-o.fa-2x {
    font-size: 28px;
    margin-top: 2px;
}

div.home-page .navbar-header .dropdown-menu {
	background:#007E4F;
}

div.home-page .navbar-header .dropdown-menu a{
	color:#FFF;
	font-size:20px;
}

div.home-page .navbar-header .dropdown-menu a:hover{
	text-decoration:underline;
}
/* div.home-page .container.testalino {
	position:relative;
	}

div.home-page .menu-righe{
	padding-right:0;
	text-align:right;
	}

div.home-page .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
	line-height:0;
}

div.home-page .pimenu-navbar-toggle:focus {
    background: #000;
}

div.home-page .pimenu-navbar-toggle:focus .fa-bars{
	color:#FFFFFF;
}

div.home-page .container.testalino nav.pimenu-navbar-collapse {
    height: auto;
    position: absolute;
    right: 0;
    top: 32px;
    width: 100%;
}

div.home-page .navbar-nav > li > a {
    color: #ffffff;
}

div.home-page .navbar-nav > li > a:hover, div.home-page .navbar-nav > li > a:focus {
	background:#272727;
}

div#portalHeader {
	position:relative;
	}

div.header {
    background:url("images/paletta_sp_lunga.png") no-repeat scroll left top transparent;
	width:2368px;
	height:32px;
	position:absolute;
	left:-2200px;
	top:0;
	text-align:right;
	padding-right:100px;
	z-index:100;
	}

div.header h1 {
    font-size: 20px;
    margin: 0;
}

div.header h1 a {
    color: #fff;
    display: block;
}

.titoloServizio h2 {
    background:url("images/logo.png") no-repeat scroll center top transparent;
	height:111px;
	margin-top:40px;
	text-indent:-10000px;
} */

.sb-sx {
    background:url("images/sfondo_bianco_sx.png") repeat-y scroll center top transparent;
	}

.sb-dx {
    background:url("images/sfondo_bianco_dx.png") repeat-y scroll center top transparent;
	}

.news-home {
	margin-bottom:80px;
	background:#fff;
	padding:35px 60px;
	}

.news-home h3.titolo-news{
	margin:5px 0;
	background:#fff;
	text-transform:uppercase;
	font-size:24px;
	}

.news-home p{
	margin:0;
	font-size:16px;
	}

.news-home p.data-news{
	font-size:14px;
	}

.search-home {
	margin:80px auto;
	display:table;
	}

.search-home .row{
	display:table;
	}

.search-home .testo-home{
	background:#fff;
	}

.search-home .testo-home div{
	display:table-cell;
	vertical-align:middle;
	height:210px;
	font-size:18px;
	font-weight:bold;
	}

.search-home .ricerca-home{
	background:#007e4f;
	display:table-cell;
	vertical-align:middle;
	height:210px;
	padding-top:75px;
	}

.search-home .ricerca-home .form-group{
	width: -moz-calc(100% - 60px)!important;
	width: -webkit-calc(100% - 60px)!important;
	width: calc(100% - 60px)!important;
	float:left;
	}

.search-home .ricerca-home .form-group input{
	width:100%;
	height:60px;
	/*text-transform:uppercase;*/
	font-weight:bold;
	letter-spacing:-1px;
	}

.search-home input::-moz-placeholder{
	color:#222!important;
	}

.search-home .ricerca-home .btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #000;
	margin-left:-5px;
	padding: 11px 12px 11px 13px;
	height:60px;
}

.search-home .ricerca-home .btn-default .fa-search{
	font-size:36px;
}

.search-home .ricerca-home .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    display: block;
    font-size: 15px;
    height: 39px;
    line-height: 1.4;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.container-fluid.piattaforma {
    background: #007e4f;
	padding-top:40px;
	padding-bottom:40px;
}

.container-fluid.piattaforma h3 {
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	line-height:60px;
	border-bottom:1px solid #fff;
	font-size:26px;
	margin-top:0;
}

.container-fluid.piattaforma ul.numeri li{
    background:none;
	color:#fff;
	border:0;
	text-align:center;
	padding:20px 80px
}

.container-fluid.piattaforma ul.numeri li span.cifra, .container-fluid.piattaforma ul.numeri li span.sotto_cifra{
	display:block;
}

.container-fluid.piattaforma ul.numeri li span.cifra{
	font-size:70px;
	font-weight:bold;
}

.container-fluid.piattaforma ul.numeri li span.con_cifra{
	font-size:36px;
}

.container-fluid.piattaforma ul.numeri li span.sotto_cifra{
	text-transform:uppercase;
	font-size:26px;
}

div.seicentopx {
	height:600px;
	}

div.blocchetti {
	margin-bottom:80px;
	}

ul.categorie li {
	min-height:200px;
	border:0;
	margin-bottom:10px;
	border-right:1px solid #eee;
	position:relative;
	}

ul.categorie li.acqua {
    background:url("images/gocce.png") no-repeat scroll center 35px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.acqua:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.aria {
    background:url("images/aria.png") no-repeat scroll center 35px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.aria:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.bonifiche {
    background:url("images/bonifiche.png") no-repeat scroll center 30px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.bonifiche:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.energia {
    background:url("images/energia.png") no-repeat scroll center 30px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.energia:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.acustico {
    background:url("images/acustico.png") no-repeat scroll center 25px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.acustico:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.elettro {
    background:url("images/elettro.png") no-repeat scroll center 25px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.elettro:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.imprese {
    background:url("images/imprese.png") no-repeat scroll center 30px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.imprese:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.rifiuti {
    background:url("images/rifiuti.png") no-repeat scroll center 30px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.rifiuti:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.rischio {
    background:url("images/rischio.png") no-repeat scroll center 25px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.rischio:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.via {
    background:url("images/via.png") no-repeat scroll center 25px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.via:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.info {
    background:url("images/info.png") no-repeat scroll center 25px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.info:hover {
    background-image:none;
	padding-top:40px;
	transition:.5s;
	}

ul.categorie li.monitoraggio {
    background:url("images/monitoraggio.png") no-repeat scroll center 25px #000;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.monitoraggio:hover {
    background-image:none;
	padding-top:40px;
	transition:.3s;
	}

ul.categorie li.i:hover {
    background-image:none;
	padding-top:40px;
	transition:.5s;
	}

ul.categorie li.inspire {
    background:url("images/inspire.png") no-repeat scroll center 25px #0e4749;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.inspire:hover {
    background-image:none;
	padding-top:40px;
	transition:.5s;
	background:#000;
	}
ul.categorie li.catalogo-ambientale {
    background:url("images/catalogo-ambientale.png") no-repeat scroll center 25px #0e4749;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.catalogo-ambientale:hover {
    background-image:none;
	padding-top:40px;
	transition:.5s;
	background:#000;
	}
ul.categorie li.all {
    background:url("images/tutte_le_categorie.png") no-repeat scroll center 40px #2a4d14;
	opacity:.8;
	padding-top:100px;
	text-align:center;
	color:#fff;
	margin-bottom:10px;
	font-size:14px;
	}

ul.categorie li.all:hover {
    background-image:none;
	padding-top:40px;
	transition:.5s;
	background:#000;
	}



ul.categorie li.vuoto {
    background:#000;
	opacity:.8;
	}

ul.categorie li div.ogg_appl {
	/*display:none;*/
	position:absolute;
	top:80px;
	left:0;
	width:100%;
	opacity:0;
	margin-top:90px;
	transform:rotateX(90deg);
	transition:.3s;
	}

ul.categorie li:hover div.ogg_appl {
	opacity:1;
	margin-top:0;
	transition:.5s;
	transform:rotateX(0deg);
	}

ul.categorie li span a {
    background: #009440;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin: 10px !important;
    opacity: 1;
    text-transform: uppercase;
	cursor:pointer;
}

.items-badge {
    background: #2c2c2d none repeat scroll 0 0;
    border-radius: 15px;
    display: inline-block;
    font-size: 90%;
    margin: 0 2px;
    min-width: 25px !important;
    padding: 2px 3px;
	color:#fff;
}

div.trebox {
    background:url("images/img_sotto.jpg") no-repeat scroll center top #f2f2f2;
	/*background-size:100%;*/
	min-height:300px;
	padding:80px 0;
	}

@media (max-width: 767px) {
div.trebox {
    background:none;
	}
}

.col-md-6.col-xs-12.trebox-sx {
    padding-right: 5px;
}

.col-md-6.col-xs-12.trebox-dx {
    padding-left: 5px;
}

div.trebox div.piu_visti, div.trebox div.ultimi, div.trebox div.tags {
    background:#000;
	margin-bottom:10px;
	opacity:.8;
	padding:40px 30px;
	}

div.trebox div.piu_visti {
	margin-top:50px;
	}

div.trebox div.piu_visti h4, div.trebox div.ultimi h4 {
	color:#fff;
	text-transform:uppercase;
	font-size:36px;
	line-height:60px;
	border-bottom:1px solid #fff;
	text-align:center;
	font-weight:normal;
	margin:0;
	}

div.trebox .colonna-sx, div.trebox .colonna-dx {
	width:50%;
	padding:20px 10px;
	}

div.trebox .colonna-sx {
	float:left;
	text-align:right;
	border-right:1px solid #fff;
	}

div.trebox .colonna-dx {
	display:inline-block;
	}

div.trebox .colonna-sx a, div.trebox .colonna-dx a {
	color:#fff;
	font-size:16px;
	display:block;
	}

div.trebox div.tags a{
	color:#fff;
	font-size:24px;
	}

div.trebox div.tags a.tag_grande{
	font-size:36px;
	}

.modal-backdrop{
	z-index:10;
	position:fixed;
	}

.modal-header{
	background:#007e4f;
	}

.modal-header h4{
	color:#fff;
	text-transform:uppercase;
	}

.modal-header button.close{
	color:#fff;
	opacity:1;
	}

.modal-body h5{
	text-transform:uppercase;
	font-size:16px;
	}

.footer{
	background:#0050A4;
	padding-top:30px;
	}

.footer .footer-sx{
	height:100px;
	vertical-align:middle;
	}

.footer .footer-dx{
	height:100px;
	vertical-align:middle;
	text-align:right;
	}

.footer .text-center a{
	color:#fff;
	padding-top:10px;
	}


/*INTEGRAZIONE*/
.home div.header{
	margin-top:0;
	}

.home .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
    line-height: 0;
}

.search-home .ricerca-home .glyphicon-search::before {
    color: black;
    content: "\f002" !important;
    font-family: FontAwesome !important;
}

.modal-dialog .btn-default {
    background-color: #007E4F;
    border: 0;
    color: #fff;
}
.home-page .dataset-search-container {
    margin-bottom: 50px;
    margin-top: 50px;
}
.home-page .siracatalog-search-selector {
    background-color: #007e4f  !important;
	box-shadow: none;
	border:0;
}
.home-page .catalog-search-container .MapSearchBar .input-group {
    border: 1px solid #ddd;
    box-shadow: none!important;
	border-radius:0;
}
