body.body_home #container, body.body_home .fill, body.body_home {
    height: auto!important;
    position: relative!important;
}


div.home-page {
   	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	}

.body_home header #loginButton.login-success {
    color: #1976D2;
    background-color: #fff;
    border-color: #fff;
	border-radius: 50%;
	padding: 2px 5px;
	margin-top: 5px;
}
.hero-home{
	 background-image:url("images/home.jpg");
	 background-size: cover;
	 background-position-y: 30%;
	 color: #fff;
	 padding: 50px 0px;
	 font-size: 20px;
}
.hero-home h1{
	font-size: 30px;
}
.hero-home p{
	font-weight: 200;
}

.hero-home .btn.btn-default,
.hero-home .btn.btn-default:hover,
.hero-home .btn.btn-default:active{
	border: 1px solid #fff;
	background: transparent;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
    font-weight: bold;
}


.la-mappa{
	background:url("images/illustrazione mappa.png") 100% 50% no-repeat;
	background-size: contain;
	padding: 50px 350px 50px 0;
	min-height: 350px;
}
.cont-la-mappa{margin: 50px 0px;}
.cont-la-mappa button.btn.btn.btn-primary{
	background: #487600;
	border-radius:5px;
	color: #fff;
	font-size: 14px;
    font-weight: bold;
}

.catalogo-home{background: #FAFAFA; padding: 50px 0 0 0px;}

/*
div.clear {
	clear:both;
	}
*/

/*

div.home-page .navbar-header .fa.fa-user-circle-o.fa-2x {
    font-size: 28px;
    margin-top: 2px;
}

div.home-page .navbar-header .dropdown-menu {
	background:#1976D2;
}

div.home-page .navbar-header .dropdown-menu a{
	color:#FFF;
}



.sb-sx {
    background:url("images/sfondo_bianco_sx.png") repeat-y scroll center top transparent;
	}

.sb-dx {
    background:url("images/sfondo_bianco_dx.png") repeat-y scroll center top transparent;
	}

.news-home {
	margin-bottom:80px;
	background:#fff;
	padding:35px 60px;
	}

.news-home h3.titolo-news{
	margin:5px 0;
	background:#fff;
	text-transform:uppercase;
	font-size:24px;
	}

.news-home p{
	margin:0;
	font-size:16px;
	}

.news-home p.data-news{
	font-size:14px;
	}

.search-home {
	margin:80px auto;
	display:table;
	}

.search-home .row{
	display:table;
	}

.search-home .testo-home{
	background:#fff;
	}

.search-home .testo-home div{
	display:table-cell;
	vertical-align:middle;
	height:210px;
	font-size:18px;
	}

.search-home .ricerca-home{
	background:#1976D2;
	display:table-cell;
	vertical-align:middle;
	height:210px;
	padding-top:75px;
	}

.search-home .ricerca-home .form-group{
	width: -moz-calc(100% - 60px)!important;
	width: -webkit-calc(100% - 60px)!important;
	width: calc(100% - 60px)!important;
	float:left;
	}

.search-home .ricerca-home .form-group input{
	width:100%;
	height:60px;
	font-weight:bold;
	letter-spacing:-1px;
	}

.search-home input::-moz-placeholder{
	color:#222!important;
	}

.search-home .ricerca-home .btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #000;
	margin-left:-5px;
	padding: 0;
	height:60px;
}

.search-home .ricerca-home .btn-default .fa-search{
	font-size:36px;
}

.search-home .ricerca-home .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    display: block;
    font-size: 15px;
    height: 39px;
    line-height: 1.4;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
*/
.container-fluid.piattaforma {
    background: #1976D2;
	padding-top:40px;
	padding-bottom:40px;
	margin-top: 80px;
}

.container-fluid.piattaforma h3 {
	color:#fff;
	line-height:60px;
	font-size: 30px;
    margin-top: 0;
    font-weight: normal;
}

.container-fluid.piattaforma ul.numeri li{
    background:none;
	color:#fff;
	border:0;
	text-align: center;
	padding: 230px 20px 80px 20px;
}

.container-fluid.piattaforma ul.numeri li.mappe{
	background:url("images/mappe-visualizzabili.svg") no-repeat 50% 10%;
}
.container-fluid.piattaforma ul.numeri li.viste{
	background:url("images/viste-tamatiche-disponibili.svg") no-repeat 50% 10%;
}
.container-fluid.piattaforma ul.numeri li.ricerche{
	background:url("images/ricerche-dettaglio.svg") no-repeat 50% 10%;
}


.container-fluid.piattaforma ul.numeri li span.cifra, .container-fluid.piattaforma ul.numeri li span.sotto_cifra{
	display:block;
}

.container-fluid.piattaforma ul.numeri li span.cifra{
	font-size:70px;
	font-weight:bold;
}

.container-fluid.piattaforma ul.numeri li span.con_cifra{
	font-size:36px;
}

.container-fluid.piattaforma ul.numeri li span.sotto_cifra{
	text-transform:uppercase;
	font-size:26px;
}



div.blocchetti {
	margin-bottom:40px;
	}


ul.categorie, ul.tematica  {
	display: grid;
	grid-template-columns: 1fr;
	list-style-type: none;
}

@media (min-width: 768px)	{
	ul.categorie, ul.tematica  {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		list-style-type: none;
	}	
}
@media (min-width: 992px)	{
	ul.categorie, ul.tematica  {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		list-style-type: none;
	}	
}

ul.categorie li, ul.tematica li  {
	min-height:150px;
	margin:4px;
	box-shadow: 1px 2px 8px #eaeaea;
	border: 1px solid #eaeaea;
	position:relative;
	background: #fff;
	}
ul.tematica  {padding: 0;}
ul.categorie li	.list-group-item , ul.tematica li .list-group-item { border: none;}
a.list-group-item, a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover,
ul.tematica li a{cursor: pointer;}
ul.tematica li a{
	background:url("images/tematica.svg") no-repeat scroll center 35px;
	display: block;
    height: 100%;
	text-align:center;
	margin-bottom:10px;
	font-size:14px;
	padding-top: 100px;
	color: #000;
}
ul.tematica li a:hover{
	color:#C9362E;
	background:url("images/tematica-hover.svg") no-repeat scroll center 35px;
}
/*
div.seicentopx {
	height:600px;
	}

ul.categorie li span a {
    background: #1976D2;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin: 10px !important;
    opacity: 1;
    text-transform: uppercase;
	cursor:pointer;
}*/
ul.categorie li a {
	padding-top:125px;
	text-align:center;
	margin-bottom:10px;
	font-size:14px;
}
ul.categorie li a:hover {color:#C9362E;}


ul.categorie li.acqua a {
    background:url("images/acqua.svg") no-repeat 50% 30%;	
	}

ul.categorie li.acqua a:focus,
ul.categorie li.acqua a:hover{
    background:url("images/acqua-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.aria a {
    background:url("images/aria.svg") no-repeat 50% 30%;
	}
ul.categorie li.aria a:focus,
ul.categorie li.aria a:hover{
    background:url("images/aria-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.emissioni a {
    background:url("images/emissioni.svg") no-repeat 50% 30%;
	}
ul.categorie li.emissioni a:hover,
ul.categorie li.emissioni a:focus {
    background:url("images/emissioni-hover.svg") no-repeat 50% 30%;
	}
	
ul.categorie li.bonifiche a {
    background:url("images/bonifiche.svg") no-repeat 50% 30%;

	}
ul.categorie li.bonifiche a:focus,
ul.categorie li.bonifiche a:hover {
    background:url("images/bonifiche-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.energia a{
    background:url("images/energia.svg") no-repeat 50% 30%;
	}
ul.categorie li.energia a:focus,
ul.categorie li.energia a:hover {
	background:url("images/energia-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.acustico a {
    background:url("images/acustico.svg") no-repeat 50% 30%;
	}
ul.categorie li.acustico a:focus,
ul.categorie li.acustico a:hover {
    background:url("images/acustico-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.elettro a{
    background:url("images/elettromagnetico.svg") no-repeat 50% 30%;
	}
ul.categorie li.elettro a:focus,
ul.categorie li.elettro a:hover {
    background:url("images/elettromagnetico-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.foreste a{
    background:url("images/foreste.svg") no-repeat 50% 30%;
	}
ul.categorie li.foreste a:focus,
ul.categorie li.foreste a:hover {
	background:url("images/foreste-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.parchi a{
    background:url("images/biodiv.svg") no-repeat 50% 30%;
	}
ul.categorie li.parchi a:focus,
ul.categorie li.parchi a:hover  {
    background:url("images/biodiv-hover.svg") no-repeat 50% 30%;
	}
	
ul.categorie li.imprese a{
    background:url("images/imprese-autorizzate.svg") no-repeat 50% 30%;
	}
ul.categorie li.imprese a:focus,
ul.categorie li.imprese a:hover  {
    background:url("images/imprese-autorizzate-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.rifiuti a {
    background:url("images/rifiuti.svg") no-repeat 50% 30%;
	}
ul.categorie li.rifiuti a:focus,
ul.categorie li.rifiuti a:hover {
    background:url("images/rifiuti-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.rischio a{
    background:url("images/rischio-industriale.svg") no-repeat 50% 30%;
	}
ul.categorie li.rischio a:focus,
ul.categorie li.rischio a:hover  {
    background:url("images/rischio-industriale-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.via a {
    background:url("images/valutazione-impatto-ambientale.svg") no-repeat 50% 30%;
	}
ul.categorie li.via a:focus,
ul.categorie li.via a:hover {
	background:url("images/valutazione-impatto-ambientale-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.monitoraggio a{
    background:url("images/monitoraggio-ambientale.svg") no-repeat 50% 30%;
	}
ul.categorie li.monitoraggio a:focus,
ul.categorie li.monitoraggio a:hover {
    background:url("images/monitoraggio-ambientale-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.inspire a{
    background:url("images/inspire.svg") no-repeat 50% 30%;
	}
ul.categorie li.inspire a:focus,
ul.categorie li.inspire a:hover {
    background:url("images/inspire-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.catalogo-ambientale a{
    background:url("images/catalogo-ambientale.svg") no-repeat 50% 30%;
	}
ul.categorie li.catalogo-ambientale a:focus,
ul.categorie li.catalogo-ambientale a:hover  {
	background:url("images/catalogo-ambientale-hover.svg") no-repeat 50% 30%;
	}

ul.categorie li.all a{
    background:url("images/tutte-le-categorie.svg") no-repeat 50% 30%;
	}
ul.categorie li.all a:focus,
ul.categorie li.all a:hover {
    background:url("images/tutte_le_categorie-hover.svg") no-repeat 50% 30%;
	}
	
ul.categorie li.info a {
	background:url("images/info.svg") no-repeat 50% 30%;
	}

ul.categorie li.vuoto {
    background:#fff;
	}

/*ul.categorie li.i:hover {
    background-image:none;
	padding-top:40px;
	transition:.5s;
	}*/

/*inizio modificate x pagine interne*/

.sira-ms2 #search-categories ul.categorie li div.ogg_appl {
	position:absolute;
	left:0;
	width:100%;
	opacity:0;
	margin-top:90px;
	transform:rotateX(90deg);
	transition:.3s;
}

.sira-ms2 #search-categories ul.categorie li:hover div.ogg_appl {
	opacity:1;
	margin-top:0;
	transition:.5s;
	transform:rotateX(0deg);
}

.sira-ms2 #search-categories ul.categorie li:focus div.ogg_appl {
	opacity:1;
	margin-top:0;
	transition:.5s;
	transform:rotateX(0deg);
}

/*fine modificate per pagine interne*/


/*inizio categorie hover e focus accessibile*/

/*.body_home ul.categorie li:hover {
	padding-top: 100px!important;
	transition: none 0s ease 0s!important;
}

.body_home ul.categorie li .ogg_title {
	position:absolute;
	top:100px;
	left:0;
	width:100%;
	opacity:1;
	margin-top:0;
	transition:.3s;
}

.body_home ul.categorie li:hover .ogg_title {
	margin-top:-55px;
	transition:.3s;
}

.body_home ul.categorie li:hover {
    background-image: none;
}

.body_home ul.categorie li .ogg_appl {
	position: relative;
}

/*.body_home ul.categorie li .ogg_appl span .list-group-item {
	position:absolute;
	top:-15px;
	left:0;
	width:93%;
	opacity:0;
	transition:.3s;
}

.body_home ul.categorie li:hover .ogg_appl span:first-child .list-group-item {
	opacity:1;
	margin-top:0!important;
	transition:.5s;
}

.body_home ul.categorie li:hover .ogg_appl span:last-child .list-group-item {
	opacity:1;
	margin-top:60px!important;
	transition:.5s;
}

.body_home ul.categorie li .ogg_appl span .list-group-item:focus {
	opacity:1;
	margin-top:60px!important;
}

/*fine categorie hover e focus accessibile*/

.sira-add-map .modal-header .modal-title {
  font-size: 21px;
  text-transform: none;
}

.skip-navigation a {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 50;
	background: #495057;
	font-size: 16px;
	line-height: 1.5;
	padding: 1px 1rem 2px;
	border-radius: 0 0 .3rem .3rem;
	border-bottom-width: 0;
	outline: 0;
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	word-wrap: normal;
}

.skip-navigation a:focus {
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	position: absolute !important;
	color: #fff;
	z-index: 999999;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}
/*video*/
.row.video{ margin-bottom: 40px;}
.video img{ max-width: 100%;}
.mb-24{margin-bottom:17px;}
/*fine video*/

.sira-ms2 a.list-group-item {
  background-color: #1976D2;
  border: 0;
  font-weight: bold !important;
  width: 85% !important;
  border-radius: 5px !important;
  padding: 8px !important;
}
.sira-ms2 a.list-group-item:hover {
  background-color: #fff;
}

.items-badge {
    background: #2c2c2d none repeat scroll 0 0 !important;
    border-radius: 15px !important;
    display: inline-block !important;
    font-size: 90% !important;
    margin: 0 2px !important;
    min-width: 25px !important;
    padding: 2px 3px !important;
	color:#fff !important;
	text-align: center !important;
}

div.trebox {
    background:url("images/img_sotto.jpg") no-repeat scroll center top #f2f2f2;
	/*background-size:100%;*/
	min-height:300px;
	padding:80px 0;
	}

@media (max-width: 767px) {
div.trebox {
    background:none;
	}
}

.col-md-6.col-xs-12.trebox-sx {
    padding-right: 5px;
}

.col-md-6.col-xs-12.trebox-dx {
    padding-left: 5px;
}

div.trebox div.piu_visti, div.trebox div.ultimi, div.trebox div.tags {
    background:#000;
	margin-bottom:10px;
	opacity:.8;
	padding:40px 30px;
	}

div.trebox div.piu_visti {
	margin-top:50px;
	}

div.trebox div.piu_visti h4, div.trebox div.ultimi h4 {
	color:#fff;
	text-transform:uppercase;
	font-size:36px;
	line-height:60px;
	border-bottom:1px solid #fff;
	text-align:center;
	font-weight:normal;
	margin:0;
	}

div.trebox .colonna-sx, div.trebox .colonna-dx {
	width:50%;
	padding:20px 10px;
	}

div.trebox .colonna-sx {
	float:left;
	text-align:right;
	border-right:1px solid #fff;
	}

div.trebox .colonna-dx {
	display:inline-block;
	}

div.trebox .colonna-sx a, div.trebox .colonna-dx a {
	color:#fff;
	font-size:16px;
	display:block;
	}

div.trebox div.tags a{
	color:#fff;
	font-size:24px;
	}

div.trebox div.tags a.tag_grande{
	font-size:36px;
	}

.modal-backdrop{
	z-index:10;
	position:fixed;
	}

.modal-header{
	background:#1976D2 !important;
	}

.modal-header h4{
	color:#fff;
	text-transform:uppercase;
	}

.modal-header button.close{
	color:#fff;
	opacity:1;
	}

.modal-body h5{
	text-transform:uppercase;
	font-size:16px;
	}


/*INTEGRAZIONE*/

.home .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
    line-height: 0;
}

.search-home .ricerca-home .glyphicon-search::before {
    color: black;
    content: "\f002" !important;
    font-family: FontAwesome !important;
}



.home-page .dataset-search-container {
    margin-bottom: 50px;
    margin-top: 50px;
}
.home-page .siracatalog-search-selector {
    background-color: #1976D2  !important;
	box-shadow: none;
	border:0;
}
.home-page .catalog-search-container .MapSearchBar .input-group {
    border: 1px solid #ddd;
    box-shadow: none!important;
	border-radius:0;
}

.body_home .home-page .MapSearchBar .search-toolbar-options {
    padding-right: 0;
}


header .btn.btn-link.offcanvas-toggle .glyphicon{
	font-family: "mapstore2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-question-sign:before {
    content: "\F1FC";
}
.body_home .mapstore-langselector .dropdown .dropdown-menu {
	border: 1px solid #1976D2;
	border-radius: 5px !important;
	padding: 5px 0;
}
.body_home .mapstore-langselector .dropdown .dropdown-menu > li > a {
	border-radius: 5px !important;
    padding: 3px 20px !important;
}