.nav.navbar-nav {
    background: black none repeat scroll 0 0;
    width: 100%;
}

.dataset-container {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -moz-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -ms-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -o-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-gradient(linear, top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
}
.dataset-search-container{
    margin-top: 30px;
}
.dataset-results-container{
    clear: both;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.dataset-footer-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}

.dataset-tabs .nav-tabs{
    padding-left:30px;
    border-bottom:0;
    /*margin-bottom:1px;*/
    }

.dataset-tabs .nav-tabs li{
    margin-right:10px;
    margin-top:14px;
    outline: none;
    }
.dataset-tabs .nav-tabs li.active{
        margin-top:0px;
        background:none;
        }

.dataset-tabs .nav-tabs li a{
        border: 0;
        background:#bdbdbd;
        color:#000;
        border-bottom: 1px solid #bdbdbd;
        text-transform:uppercase;
        padding:10px 65px;
        outline: none;
        }
.dataset-tabs .nav-tabs li.active a{
    border:0;
    border-bottom:1px solid #007e4f;
    background:#007e4f;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    border-radius:10px 10px 0 0;
    padding:20px 100px 10px;
    font-size:18px;
    }

.dataset-tabs .nav-tabs li a:hover{
        background:#e7e7e7;
        }

.dataset-tabs .nav-tabs li.active a:hover{
    text-decoration:none;
    background:#007e4f;
    }


#dataset-toc .group-collapsed.toc-default-group{
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}
#dataset-toc .group-expanded.toc-default-group{
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
#dataset-toc .toc-subgroup .group-expanded.toc-default-group{
    border-bottom: 0px solid black;
}
#dataset-toc .toc-subgroup .group-collapsed.toc-default-group{
    border-bottom: 1px solid black;
}
#dataset-toc .toc-subgroup .toc-group-children{
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#dataset-toc .toc-group-children{
    border: 1px solid black;
    margin-left: 0px;
    border-top: 0px;
    padding-bottom: 30px;
}
#dataset-toc .toc-group-title{
    font-size: x-large;
    background-color: #7d868f;
    color: white;
    text-transform: uppercase;
}
#dataset-toc .toc-subgroup .toc-group-title{
    font-size: large;
    background-color: transparent;
    color: black;
    margin-top: 10px;
}
#dataset-toc .toc-subgroup .glyphicon-folder-close:before {
    font-size: small;
}
#dataset-toc .glyphicon-folder-close:before {
    content: "\e081";
    font-family: "Glyphicons Halflings" !important;
   font-size: large;
    /* background-color: white; */
}
#dataset-toc .toc-subgroup .glyphicon-folder-open:before {
    font-size: small;
}
#dataset-toc .glyphicon-folder-open:before {
    content:"\e082";
    font-family: "Glyphicons Halflings" !important;
    font-size: large;
}
#dataset-toc .layer-content{
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid black;
    padding-top: 30px;
    height: 4em;
    cursor: pointer;
}
#dataset-toc .layer-description{
    max-width: 80%;
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1em;
    max-height: 2em ;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: -webkit-auto;
    text-transform: initial;
    cursor: pointer;
}
#dataset-toc .layer-description .glyphicon.glyphicon-plus-sign{
    top: -6px;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object.flat{
    padding: 30px;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object{
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 16px;
    margin-bottom: 30px;
    cursor: default;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object .glyphicon-search:before{
    /* font-family: "Glyphicons Halflings"; */
    font-size: xx-large;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object .glyphicon-th:before {

    font-size: xx-large;
}
#dataset-toc .layer-expanded.toc-default-layer.catalog-object .glyphicon-plus-sign:before {
    content:"\6e";
   font-size: xx-large;
    /* background-color: white; */
}

#dataset-toc .toc-title{
    max-width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}
.dataset-container .tab-content{
    background:#fff;
    border-top:16px solid #007e4f;
    border-radius:10px 10px 0 0;
    padding-bottom:50px;
    padding-top: 20px;
    min-height: 200px;
}
#dataset-toc, #dataset-results-view{
    background:#fff;
    padding-bottom:50px;
    padding-top: 20px;
    }

.dataset-categories-switch-container{
    background-color: #007e4f;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: calc(50%);
    margin-right: 20px;
    clear: both;
    text-align: center;
}
.dataset-categories-switch {
    padding: 10px;
    font-size:20px;
    cursor: pointer;
}
#dataset-results-view .sira-view{
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}
#dataset-results-view .sira-view-title span{
    min-width: 100%
}
#dataset-results-view .sira-view-content .sira-view-description{
    min-width: 80%;
    padding: 0px;
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1em;
    max-height: 2em ;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: -webkit-auto;
    text-transform: none;
    cursor: pointer;
}
#dataset-results-view .sira-view-tool{
    max-width: 20%;
    float: right;
    top: -6px;
}
#dataset-results-view .sira-view-tool span{
    top: -15px;
}
#dataset-results-view .sira-view-content {
    border-top: 1px solid black;
    padding-top: 30px;
    height: 4em;
}
.sira-view-tool  span{
    margin-top: 0px !important;
}
.sira-view-tool  .glyphicon-plus-sign:before {
    content:"\6e";
   font-size: xx-large;
   color: black;
}

.dataset-mosaic-container{
width: 750px;
padding: 0px;
background-color: rgba(0, 0, 0, .73);
}

.dataset-mosaic-container .row {
    margin: 0px;
}

.dataset-container .loading-container{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: white;
}

.searchclear.glyphicon.glyphicon-remove:before{
    font-size: x-large;
}

.dataset-container .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background:#007e4f;
    border:0;
}
.dataset-container #portalHeader .header {
    background: url(images/paletta_sp_lunga.png) repeat-y scroll left top transparent;
    height: 50px;
}
.dataset-container #portalHeader .header h1{
    position: relative;
    top: 12px;
    font-size: 24px;
}
.dataset-container .titoloServizio {
    background-color: white;
}
.dataset-container .titoloServizio h2 {
    background: url(images/logo-interna.png) no-repeat scroll center transparent;
    margin: 0px;
    height: 50px;
    cursor: pointer;
}
.dataset-container .testalino {
    width:100%;
    padding-right: 0px;
    margin-right: 0px;
}
.dataset-container #header-servizio {
    padding-right: 0px;
    width: 100%;
}
.dataset-container .testalino .row {
    background-color: white;
    padding-right: 20px;
}
.dataset-container .menu-righe {
    position: relative;
    top: 8px;
}
.dataset-container .cartcontainer{
    padding-top: 20px;
}
.cart-panel-sevices-list-element{
    width: 80%;
}
