body.body_map #container, body.body_map .fill, body.body_map {
    height: 100%!important;
    position: absolute!important;
}

.mappaSiraDecisionale {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav.navbar-nav {
    background: black none repeat scroll 0 0;
    width: 100%;
	z-index:1000;
}

.mappaSiraDecisionale {
    background-image: linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -moz-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -ms-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -o-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-linear-gradient(top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
    background-image: -webkit-gradient(linear, top , #7d868f 600px, #d7d7d7 600px, #d7d7d7 100%, #ececec 0px);
	/*background-size:100%;*/
	}

.mappaSiraDecisionale #header-servizio{
    background:url("/assets/application/conoscenze_ambientali/css/images/sfondo_azz_sx.png") repeat-y scroll center top transparent;
	min-height:32px;
	height:32px;
	width:100%;
	z-index:1000;
	position:absolute;
	}
	
.mappaSiraDecisionale header.navbar{
	min-height:32px;
	margin:0;
	border:0!important;
	}
	
.mappaSiraDecisionale .spiemonte h1{
	margin:2px 0;
	font-size:26px;
	font-weight:bold;
	}
	
.mappaSiraDecisionale .spiemonte h1 a{
	color:#fff;
	}
	
.mappaSiraDecisionale .navbar-header{
	float:none;
	}

.mappaSiraDecisionale .navbar-header h2 {
	text-indent:-10000px;
	margin:0;
}

.mappaSiraDecisionale .navbar-header .titolo-interna{
    background:#fff url("/assets/application/conoscenze_ambientali/css/images/logo-interna.png") no-repeat scroll 20px 1px;
	height:32px;
	min-height:32px;
	}


.mappaSiraDecisionale .navbar-header .map-list{
	background:#000;
	border:2px solid #000;
	border-radius:20px;
	color:#fff;
	opacity:.8;
	margin-top:2px;
}
	
.mappaSiraDecisionale .navbar-header .map-list .btn.btn-primary{
	background:none;
	border:0;
	border-radius:20px;
	padding:2px 6px;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}
	
.mappaSiraDecisionale .navbar-header .map-list .btn.btn-primary.active{
	background:#fff;
	color:#000;
}
	
.mappaSiraDecisionale .navbar-header .map-list .btn.btn-primary span.badge{
	padding:3px 5px;
	background:#007e4f;
	color:#fff;
}
	
.mappaSiraDecisionale .navbar-header .menu-righe{
	padding-right:0;
	text-align:right;
	}
	
.mappaSiraDecisionale .navbar-header .pimenu-navbar-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 32px;
	line-height:0;
}

.mappaSiraDecisionale .navbar-default{
	background:none;
	}

.mappaSiraDecisionale .querypanel-container {
    border-radius: 0;
	border:0;
}

.mappaSiraDecisionale .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	background:#007e4f;
	border:0;
}

.mappaSiraDecisionale button.close {
	opacity:1;
}

.mappaSiraDecisionale button.close:hover, .mappaSiraDecisionale button.close:focus {
	opacity:.5;
}

.mappaSiraDecisionale .querypanel-container .panel-title a {
	text-transform:uppercase;
	font-weight:bold;
}

.mappaSiraDecisionale .querypanel-container .dhContainer {
    border: 0;
    border-radius: 0;
}

.mappaSiraDecisionale .querypanel-container .dhContainer h4.ftheader {
    color: #007e4f;
	text-transform:uppercase;
}

.mappaSiraDecisionale .querypanel-container .querypanel {
    height: auto;
    max-height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading {
	background:#017f4f;
	border:0;
/* 	margin-bottom:5px; */
}

.mappaSiraDecisionale .querypanel-container .querypanel .panel-title a {
	text-transform:uppercase;
	font-weight:bold;
}

.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading + div{
	background:#eee;
}

.mappaSiraDecisionale .querypanel-container .querypanel .panel-default {
	border:0;
	box-shadow:none;
	background:none;
}

.mappaSiraDecisionale .querypanel-container .querypanel .panel-default .logicHeader {
	background:none;
	    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.queryFormToolbar {
    float: none!important;
    text-align: center;
}

.queryFormToolbar button{
    float: none!important;
	border:0;
	border-radius:0;
}

.queryFormToolbar button:first-child{
	background:#007e4f none repeat scroll 0 0;
	color:#FFFFFF;
}
.queryFormToolbar button:first-child{
	background:#007e4f none repeat scroll 0 0;
	color:#FFFFFF;
}
.queryFormToolbar button:hover{
	background:#000;
}

.queryFormToolbar button[disabled]:hover, .queryFormToolbar button[disabled]:focus{
	background:#ccc;
}

.rw-dropdownlist.rw-widget, .rw-dropdownlist.rw-widget:hover{
/*     background: #666;
    border: 0 none; */
    border-radius: 0;
}

.rw-dropdownlist.rw-widget .rw-input {
/*     color: #fff; */
    color: #000;
}

.rw-dropdownlist.rw-widget .rw-btn {
/*     color: #fff; */
}

.btn {
    border-radius: 0;
	transition: all 100ms ease-in 0s;
}


/*COLORI*/
.btn-primary {
    background-color: #007e4f;

}
.btn-default {
    color: #333;
}
#mapstore-navbar-container .dropdown-toggle, #mapstore-navbar-container .square-button {
    border-left: 1px solid #01603c;
}
#mapstore-drawermenu #mapstore-layers .toc-default-layer .glyphicon {
    color: #333;
}
#mapstore-drawermenu .panel-default > .panel-heading {
    color: #333;
}
#mapstore-drawermenu #mapstore-layers .toc-group-title {
    background: #eee none repeat scroll 0 0;
}
#sira-layer-settings .noUi-handle {
    background: #007e4f none repeat scroll 0 0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #01603c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #01603c;
    color: #ffffff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #01603c;
}
.noUi-handle {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
}
#mapstore-drawermenu .navButtons .btn.square-button .glyphicon {
    font-size: 30px;
}
.square-button .glyphicon {
    font-size: 30px;
    margin-left: -5px;
}
.square-button {
    height: 45px;
    width: 45px;
}
.navbar-dx .dropdown-menu .dropdown-header, .navbar-home .dropdown-menu .dropdown-header {
    background-color: #007e4f;
}
.dropdown-menu .glyphicon {
    color: #333;
    font-size: 30px;
    margin-right: 5px;
}
/*FINE COLORI*/

.featuregrid-container, .scheda-sira .panel {
    border-radius: 0;
	border:0;
}

.scheda-sira .panel-default {
    border-radius: 0;
}

.scheda-sira .panel-default .panel-heading {
	background:#eee;
}

.btn-toolbar.btn-toolbar-sm > button {
	background:none;
	border:1px solid #ccc;
	padding:4px 10px;
	margin-right:5px;
}

.ag-fresh .ag-header-cell {
	background:#fff;
	font-weight:bold;
}

/* ----------FILTRI------------ */


#attributeFilterPanel .panel-body {
    padding: 10px;
}
#spatialFilterPanel  .panel-body {
    padding: 10px;
}

#attributeFilterPanel .panel-body .panel-body {
    background: #fff none repeat scroll 0 0;
}
#attributeFilterPanel .panel-body .panel-body .panel-body {
    background: #eee none repeat scroll 0 0;
}#attributeFilterPanel .panel-body .panel-body .panel-body .panel-body {
    background: #fff none repeat scroll 0 0;
}
#add-filter-field.btn.btn-default {
    border: 0 none;
	background: transparent none repeat scroll 0 0;
}
#add-condition-group.btn.btn-default {
    border: 0 none;
	background: transparent none repeat scroll 0 0;
}

.dhContainer {
    background-color: #fff!important;
}
.dhContainer h4 {
    margin: 2px;
    padding-left: 0!important;
}
.dhContainer > label {
    font-weight: 300;
}

.mapbody .siracatalog-search-selector {
    background-color: #017f4f !important;
    border: 0 !important;
    box-shadow: none !important;
}
.mapbody .catalog-search-container .MapSearchBar .input-group {
    border: 1px solid #017f4f;
    box-shadow: none;
}
.siracatalog-search-selector div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
}

.siracatalog-search-selector div.monitoraggio {
    background-image: url("images/monitoraggio.png");
}
.siracatalog-search-selector div.inspire{
    background-image: url("images/inspire.png");
}
.siracatalog-search-selector div.catalogo-ambientale{
    background-image: url("images/catalogo-ambientale.png");
}
.siracatalog-search-selector div.acqua{
    background-image: url("images/gocce.png");
}
.siracatalog-search-selector div.aria{
    background-image: url("images/aria.png");
}
.siracatalog-search-selector div.bonifiche{
    background-image: url("images/bonifiche.png");
}
.siracatalog-search-selector div.energia{
    background-image: url("images/energia.png");
}
.siracatalog-search-selector div.acustico{
    background-image: url("images/acustico.png");
}
.siracatalog-search-selector div.elettro{
    background-image: url("images/elettro.png");
}
.siracatalog-search-selector div.imprese{
    background-image: url("images/imprese.png") ;
}
.siracatalog-search-selector div.rifiuti{
    background-image: url("images/rifiuti.png") ;
}
.siracatalog-search-selector div.rischio{
    background-image: url("images/rischio.png") ;
}
.siracatalog-search-selector div.via{
    background-image: url("images/via.png")  ;
}
.siracatalog-search-selector div.all{
    background-image: url("images/tutte_le_categorie.png");
}

#portalHeader .dropdown.btn-group.btn-group-primary {
    height: 28px;
}

#portalHeader .dropdown button#dropdown-basic-primary {
    height: 28px;
}

/*TESTALINO*/
.navbar-header {
    float: none;
}
header.navbar {
    background: #fff none repeat scroll 0 0;
    margin: 0;
    min-height: 30px;
}
.navbar-header .testalino-sx {
    padding-left: 0;
}
header.navbar h1 {
    background: #0053a8 none repeat scroll 0 0;
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 2px 5px;
}
header.navbar h1 a {
    color: #fff;
}
header.navbar h1 a span {
    border: 1px solid #fff;
    font-size: 20px;
    padding: 0 2px;
}
.navbar-header h2 {
    color: #0053a8;
    float: left;
    line-height: 30px;
    margin: 2px 0 2px 10px;
}
.navbar-header h2 span {
    font-weight: normal;
}
.navbar-header .testalino-dx {
    padding-right: 0;
}
.navbar-header .pull-right {
    margin-right: 40px;
}
.navbar-header .map-list{
	background:#000;
	border:2px solid #000;
	/*border-radius:20px;*/
	color:#fff;
	margin-top:3px;
	float:left;
	margin-right:10px;
}
	
.navbar-header .map-list .btn.btn-primary{
	background:none;
	border:0;
	/*border-radius:20px;*/
	padding:2px 6px;
	font-size:14px;
    font-weight: bold;
	text-transform:uppercase;
}
	
.navbar-header .map-list .btn.btn-primary.active{
	background:#fff;
	color:#000;
}
	
.navbar-header .map-list .btn.btn-primary span.badge{
	padding:3px 5px;
	background:#007e4f;
	color:#fff;
	position:relative;
	left:3px;
	top:0;
}
	
@media (max-width: 767px) {
.navbar-header .map-list .btn.btn-primary span.label-text{
	display:none;
}
}
.mapbody {
    top: 35px!important;
}
.ol-custom-overviewmap button {
    background-color: #017f4f !important;
}
.ol-scale-line.ol-unselectable {
    background-color: #017f4f !important;
}
#viewer .siracatalog-search-selector {
    background-color: #017f4f;
}
#viewer .navbar-dx .dropdown-menu .dropdown-header, .navbar-home .dropdown-menu .dropdown-header {
    background-color: #017f4f!important;
}
#viewer .dropdown-menu .glyphicon {
    color: #017f4f;
}
#mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon-folder-open, #mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon-folder-close {
    color: #017f4f;
}
#mapstore-drawermenu #mapstore-layers .toc-default-layer .glyphicon {
    color: #017f4f;
}
#mapstore-drawermenu #mapstore-layers .visibility-check.glyphicon.visibility-check.checked {
    color: #017f4f;
}
#mapstore-drawermenu .panel-default > .panel-heading {
    color: #017f4f;
}
.side-querypanel .panel-heading {
    background-color: #017f4f;
    border-color: #078aa3;
    color: #ffffff;
}
.side-querypanel .panel-title .glyphicon-triangle-left::before {
    content: "\f137" !important;
    font-family: FontAwesome !important;
}
.side-querypanel .panel-title .glyphicon-collapse-down::before {
    content: "\f078" !important;
    font-family: FontAwesome !important;
}
.side-querypanel .panel-title .glyphicon-expand::before {
    content: "\f053" !important;
    font-family: FontAwesome !important;
}
.side-querypanel .panel-body .dhContainer {
    border: 1px solid #017f4f;
}
.side-querypanel .panel-body .dhContainer .ftheader {
    color: #017f4f;
}
.side-querypanel .panel-body .querypanel-container #reset, .side-querypanel .panel-body .querypanel-container #reset:hover {
    background-color: #ebebeb;
	color:#000000;
}
.panel-primary > .panel-heading{
    background-color: #017f4f;
	border:0;
	border-radius:0;
}
.ag-fresh .ag-paging-button{
    background: none;
	border:1px solid #ccc;
	border-radius:0;
	padding:0 4px;
}
.sira-view-title .glyphicon{
	color:#017f4f!important;
}
#mapstore-getfeatureinfo .panel-heading{
	background:#017f4f;
	color:#fff;
	border-radius:0;
}
#mapstore-getfeatureinfo .ag-blue .ag-header, #mapstore-getfeatureinfo .ag-blue .ag-no-scrolls .ag-header-container{
	background:#009E61;
}
#mapstore-getfeatureinfo .ag-blue .ag-cell-no-focus{
	border-color:transparent #009E61 #009E61 transparent;
}
/*
.mapbody {
    position: relative!important;
    top: 0!important;
	min-height:620px!important;
}
#viewer #map {
	width:100%!important;
}

#viewer #drawer-menu-button {
    position: absolute!important;
    top: 0!important;
}
#viewer .btn-primary {
    background-color: #017f4f!important;
}
#viewer .btn-default {
    color: #017f4f;
}
#viewer .siracatalog-search-selector {
    background-color: #017f4f;
}
#viewer .navbar-dx .dropdown-menu .dropdown-header, .navbar-home .dropdown-menu .dropdown-header {
    background-color: #017f4f!important;
}
#viewer .dropdown-menu .glyphicon {
    color: #017f4f;
}
#mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon-folder-open, #mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon-folder-close {
    color: #017f4f;
}
#mapstore-drawermenu #mapstore-layers .toc-default-layer .glyphicon {
    color: #017f4f;
}
#mapstore-drawermenu #mapstore-layers .visibility-check.glyphicon.visibility-check.checked {
    color: #017f4f;
}
#mapstore-drawermenu .panel-default > .panel-heading {
    color: #017f4f;
}
.ol-custom-overviewmap button {
    background-color: #017f4f !important;
}
.ol-scale-line.ol-unselectable {
    background-color: #017f4f !important;
}
.react-resizable .querypanel{
	height: auto;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.side-querypanel {
    position: relative !important;
}
.side-querypanel .panel-heading {
    background-color: #017f4f;
    border-color: #078aa3;
    color: #ffffff;
}
.side-querypanel .panel-title .glyphicon-triangle-left::before {
    content: "\f137" !important;
    font-family: FontAwesome !important;
}
.side-querypanel .panel-title .glyphicon-collapse-down::before {
    content: "\f078" !important;
    font-family: FontAwesome !important;
}
.side-querypanel .panel-title .glyphicon-expand::before {
    content: "\f053" !important;
    font-family: FontAwesome !important;
}
.side-querypanel .panel-body .dhContainer {
    border: 1px solid #017f4f;
}
.side-querypanel .panel-body .dhContainer .ftheader {
    color: #017f4f;
}
.side-querypanel .panel-body .querypanel-container #reset, .side-querypanel .panel-body .querypanel-container #reset:hover {
    background-color: #ebebeb;
	color:#000000;
}
*/