<irideUsernamePassword>
  <id>-1706d4a4:141e64cb539:-7ffd</id>
  <name>iride</name>
  <className>org.geoserver.security.iride.IrideAuthenticationProvider</className>
  <serverURL>${iride.service.policy-enforcer-base.url}</serverURL>
  <applicationName>DECSIRA</applicationName>
  <userGroupServiceName>iride</userGroupServiceName>
</irideUsernamePassword>