.scheda-sira {
    z-index: 1025;
    top: 10px;
    left: 20px;
    width: 850px;
    min-height: 600px;
    position: absolute;
    margin: 8px;
    overflow-x:hidden;
    box-shadow: 0 0 5px 1px rgba(94,94,94,1);
}
.scheda-sira .panel {
	margin-bottom: 0px;
}

.detail-title {
    padding-right: 0px;
}

.detail-title h4 small{
    color: #FFFFFF;
}

.labeled-field {
    padding-bottom: 5px;
}

.value-sira {
}

.label-sira {
}

.card-close{
    color: #FFFFFF;
}

.card-close:hover{
    color: #FFFFFF;
}

.ag-blue .ag-cell-focus {
    background: transparent;
    outline: none;
}
