<irideRoleService>
  <id>-1706d4a4:141e64cb539:-7ffd</id>
  <name>iride</name>
  <className>org.geoserver.security.iride.IrideRoleService</className>
  <serverURL>${iride.service.policy-enforcer-base.url}</serverURL>
  <applicationName>DECSIRA</applicationName>
  <adminRole>SUPUSR_DECSIRA</adminRole>
  <fallbackRoleService>default</fallbackRoleService>
</irideRoleService>