.featuregrid-container .ag-paging-row-summary-panel{
    width: auto;
}
.featuregrid-container .ag-paging-page-summary-panel{
    padding-left: calc(50% - 200px);
    color: #000000;
}
.featuregrid-container .ag-fresh .ag-paging-button {
    color: #000000;
    background-color: #ffffff;
    border: #000000 1px solid;
}
.featuregrid-container .ag-fresh .ag-header-cell-text {
    color: #000000;
}
.featuregrid-container .ag-fresh .ag-tool-panel-container {
    background-color: #eee !important;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    padding: 4px;
    color: #000000;
}
