.fill {
    overflow-y: auto !important;
}
.links {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

/* SIRA Query Panel */

.dhContainer{
    background-color: #F5F5F5;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #337AB7;
}

.dhContainer h4{
    padding-left: 10px;
}

.ftheader{
    color: #337ab7;
}

.collapsible{
    color: #FFFFFF;
}

.template{
    height: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
}

.dialog-error-header{
    width: 500px;
}


.dialog-error-body{
    height: 600px;
    width: 500px;
    overflow: auto;
}

.dialog-error-footer{
    width: 500px;
}

#loading-error-dialog .modal-content{
    width: 510px;
}
/* QUERY PANEL IN SIDEBAR*/
.querypanel{
    width: 100% !important;
    min-height: 380px;
}
.side-querypanel #add-condition-group{
   position: relative;
   left: 60px;
}
.side-querypanel #attributeFilterPanel .logicHeader .col-xs-5 {
    width: 50% !important;
}
.side-querypanel #attributeFilterPanel .logicHeader .col-xs-6 {
    width: 40% !important;
}
.side-querypanel #spatialFilterPanel .detail_geom_button {
    position: relative;
    left: 25px;
}
.sidepanel-featuregrid {
    margin-bottom: 0px !important;
    border-width: 0px;
}
/* SIRA FeatureGrid */

.grid-close{
    color: #FFFFFF;
}

.grid-close:hover{
    color: #FFFFFF;
}

.featuregrid-container{
    position: absolute;
    top: 0;
}

.featuregrid-container .panel-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.featuregrid-container .panel-heading{
    cursor: move;
}
.featuregrid-container .panel-title a{
    cursor: move;
    text-decoration:none;
}
.featuregrid-container .react-resizable-handle{
    bottom:-15px;
    right: -15px;
}
.featuregrid {
    height: 750px;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
}


.querypanel #spatialFilterPanel hr {
    display: none;
}

.group-expanded .Sortable {
    max-height: 200px;
    overflow: auto;
}

.sectionHader a:hover {
    color: #000000;
    text-decoration: none;
}

.labeledfield-no-value{
    font-style: italic;
}

.handle_querypanel {
    cursor: move;
}
div.mappaSiraDecisionale .querypanel-container .querypanel .panel-heading [class^="glyphicon-triangle-"]:before, [class*=" glyphicon-triangle-"]:before {
    font-family: inherit !important;
}
.querypanel-container .glyphicon-collapse-down:before {
    color: black;
    content: "\e252";
    font-family: inherit !important;
}
.querypanel-container .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.querypanel-container .glyphicon-expand:before {
    color: black;
    content: "\e251";
    font-family: inherit !important;
}

.querypanel-container [class*=" glyphicon-minus"]:before  {
    content: "\e082";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container [class*=" glyphicon-remove"]:before {
    content: "\e014";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container [class*=" glyphicon-plus"]:before {
    content: "\2b";
    font-family: inherit !important;
    font-size: 14px;
}
.querypanel-container .col-xs-12 h4 {
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    font-size: 14px;
}

.hideSpatialFilter .querypanel{
    padding-bottom: 50px;
}
.hideSpatialFilter .querypanel>div:nth-child(2) {
    display: none;
    pointer-events: none;
    opacity: 0.5;
}
button.close.grid-close{
    visibility: visible;
}

#qgis-container .scheda-sira {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
}
#qgis-container .featuregrid-container .panel-body div div button:nth-child(1), button:nth-child(4){
    visibility: hidden;
}
.qgis-spinner{
    position: absolute;
    top: 49%;
    left: 45%;
    width: 100%;
    height: 100%

}