.mapbody {
    position: absolute;
    top: 32px;
    bottom: 0;
    width: 100%;
}
#map, .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info {
    z-index: 2;
    position: absolute;
    right: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    top: 5px;
}

.links {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.toolbar-item {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.toolbar-item.open {
    background-color: #AAA;
}

/* SIRA Query Panel */

.querypanel-container{
    width: 850px;
}

.querypanel-container .panel-title{
    font-size: 20px;
}

.querypanel-container .panel-title a{
    cursor: text;
    text-decoration:none;
}

.dhContainer{
    background-color: #F5F5F5;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #337AB7;
}

.dhContainer h4{
    padding-left: 10px;
}

.ftheader{
    color: #337ab7;
}

.collapsible{
    color: #FFFFFF;
}

.template{
    height: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
}

.dialog-error-header{
    width: 500px;
}

.dialog-error-body{
    height: 600px;
    width: 500px;
    overflow: auto;
}

.dialog-error-footer{
    width: 500px;
}

#loading-error-dialog .modal-content{
    width: 510px;
}

/* SIRA FeatureGrid */

.grid-close{
    color: #FFFFFF;
}

.grid-close:hover{
    color: #FFFFFF;
}

.featuregrid-container{
    width: 850px;
    position: absolute;
    top: 0;
}

.featuregrid-container .panel-title{
    font-size: 20px;
}

.featuregrid-container .panel-title a{
    cursor: text;
    text-decoration:none;
}

.featuregrid {
    height: 750px;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
}

/* MAP Controls*/

#mapstore-scalebox {
    z-index: 10;
    bottom: 6px;
    left: -2px;
    position: absolute;
    margin: 8px;
}

#mapstore-zoomtomaxextent {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 67px;
    left: 0px;
    position: absolute;
    margin-left: 10px;
}

.sira-scalebar{
    bottom: 65px;
}

.querypanel #attributeFilterPanel .col-xs-3, .querypanel .col-xs-9 {
    width: 50% !important;
}

.querypanel #attributeFilterPanel .logicHeader .col-xs-5 {
    width: 50% !important;
}

.querypanel #spatialFilterPanel .col-xs-5 {
    width: 50% !important;
}

.querypanel #spatialFilterPanel .col-xs-7 {
    width: 50% !important;
}

.querypanel #spatialFilterPanel hr {
    display: none;
}

.group-expanded .Sortable {
    max-height: 200px;
    overflow: auto;
}

.sectionHader a:hover {
    color: #000000;
    text-decoration: none;
}

.labeledfield-no-value{
    font-style: italic;
}
