<Panel
    bsStyle="primary"
    header={(<DetailTitle title='Autorizzazione Unica Ambientale (AUA ) - Recupero rifiuti' subtitle='Codice SIRA  impianto=' id={model.id}/>)}>
    <Panel className="template">
        <Section header='DATI GENERALI' eventKey='1' expanded={true}>
            <LabeledField label='Codice SIRA' value={model.codicesira}/>
            <LabeledField label='Provincia' value={model.provincia}/>
            <LabeledField label='Comune' value={model.comune}/>
            <LabeledField label='Tipo di provvedimento' value={model.tipo}/>
            <LabeledField label='Num. Autorizzazione' value={model.numauth}/>
            <LabeledField label='Data autorizzazione' value={model.dataauth}/>
            <LabeledField label='Tipologie impiantistiche' value={model.tipoimpianto}/>
            <LabeledField label='Quantità inviata al recupero totale (t/a)' value={model.quantita}/>
            <LabeledField label='Capacità massima stoccabile (t)' value={model.capacitat}/>
            <LabeledField label='Capacità massima stoccabile (m3)' value={model.capacitam}/>
            <LabeledField label='Note' value={model.note}/>
        </Section>
        <Section header='DETTAGLIO RECUPERO RIFIUTI' eventKey='2' expanded={true}>
            <LabeledField label='Numero scheda' value={model.numscheda}/>
            <LabeledField label='Tipo di recupero' value={model.tiporecupero}/>
        </Section>
        <Section header='TIPOLOGIA DI RIFIUTO' eventKey='3'>
            <TipoRifiuti features={model.tiporifiuto}/>
        </Section>
        <Section header='CODIFICHE CER – Operazioni di recupero' eventKey='4'/>
        <Section header='MAPPA SINTESI – IMPIANTO' eventKey='5'/>
        <Section header='METADATI' eventKey='6'/>
    </Panel>
</Panel>
