<Panel
    bsStyle="primary"
    header={(<DetailTitle title='Autorizzazione Unica Ambientale (AUA ) - Recupero rifiuti' subtitle='Codice SIRA  impianto=' id={model.id}/>)}>
    <Section header='DATI GENERALI' eventKey='1' expanded={true}>
        <LabeledField label='Codice SIRA' value={model.codicesira}/>
        <LabeledField label='Provincia' value={model.provincia}/>
        <LabeledField label='Comune' value={model.comune}/>
        <LabeledField label='Tipo' value={model.tipo}/>
    </Section>
    <Section header='TIPOLOGIA DI RIFIUTO' eventKey='2'/>
    <Section header='CODIFICHE CER – Operazioni di recupero' eventKey='3'/>
    <Section header='MAPPA SINTESI – IMPIANTO' eventKey='4'/>
    <Section header='METADATI' eventKey='5'/>
</Panel>
