<Panel
    bsStyle="primary"
    header={(<DetailTitle title='Autorizzazione Unica Ambientale (AUA ) - Recupero rifiuti' subtitle='Codice SIRA  impianto=' id={model.id}/>)}>
    <Panel className="template">
        <Section header='DATI GENERALI' eventKey='1' expanded={true}>
            <LabeledField label='Codice SIRA' value={model.codicesira}/>
            <LabeledField label='Provincia' value={model.provincia}/>
            <LabeledField label='Comune' value={model.comune}/>
            <LabeledField label='Tipo di provvedimento' value={model.tipo}/>
            <LabeledField label='Num. Autorizzazione' value={model.numauth}/>
            <LabeledField label='Data autorizzazione' value={model.dataauth}/>
            <LabeledField label='Tipologie impiantistiche' value={model.tipoimpianto}/>
            <LabeledField label='Note' value={model.note}/>
        </Section>
        <Section header='RIEPILOGO RECUPERO RIFIUTI' eventKey='2' expanded={true}>
            <SiraTable
                id="RecuperoRifiuti"
                rowSelection={false}
                columnDefs={
                        [
                            {
                                headerName: 'Numero scheda',
                                width: 90,
                                field: 'numscheda'
                            },
                            {
                                headerName: 'Tipo recupero',
                                width: 300,
                                field: 'tiporecupero'
                            },
                            {
                                headerName: 'Tipologia di rifiuto',
                                width: 100,
                                field: 'codice'
                            },
                            {
                                headerName: 'Descrizione',
                                width: 500,
                                field: 'descrizione'
                            }
                        ]
                    }
                    features={model.tiporifiuto}/>
        </Section>
        <Section header='MAPPA SINTESI – IMPIANTO' eventKey='6' expanded={true}>
            <MappaScheda center={model.geometry} authParam={model.authParam}/>
        </Section>
        <Section header='METADATI' eventKey='7'>
            <LinkToPage txt="Visualizza la scheda dei metadati" url="http://www.geoportale.piemonte.it/geonetworkrp/srv/ita/metadata.show" params={{id: 2658 || model.codicesira, currTab: 'rndt'}} />
        </Section>
    </Panel>
</Panel>
