<Panel
    bsStyle="primary"
    header={(<DetailTitle title='Autorizzazione Unica Ambientale (AUA ) - Recupero rifiuti' subtitle='Codice SIRA  impianto=' id={model.id}/>)}>
    <Panel className="template">
        <Section header='DATI GENERALI' eventKey='1' expanded={true}>
            <LabeledField label='Codice SIRA' value={model.codicesira}/>
            <LabeledField label='Provincia' value={model.provincia}/>
            <LabeledField label='Comune' value={model.comune}/>
            <LabeledField label='Codice Fiscale (P.IVA)' value={model.codicefisc}/>
            <LabeledField label='Tipo di provvedimento' value={model.tipo}/>
            <LabeledField label='Num. Autorizzazione' value={model.numauth}/>
            <LabeledField label='Data autorizzazione' value={model.dataauth}/>
            <LabeledField label='Tipologie impiantistiche' value={model.tipoimpianto}/>
            <LabeledField label='Quantità inviata al recupero totale (t/a)' value={model.quantita}/>
            <LabeledField label='Capacità massima stoccabile (t)' value={model.capacitat}/>
            <LabeledField label='Capacità massima stoccabile (m3)' value={model.capacitam}/>
            <LabeledField label='Note' value={model.note}/>
        </Section>
        <Section header='RIEPILOGO RECUPERO RIFIUTI' eventKey='2' expanded={true}>
            <TipoRifiuti checkBoxSelection={true} features={model.tiporifiuto}/>
        </Section>
        <Section header='DETTAGLIO RECUPERO RIFIUTI - CODIFICHE CER' eventKey='4'>
            <Cer features={model.dettagliorifiuto}/>
        </Section>
        <Section header='DETTAGLIO RECUPERO RIFIUTI - OPERAZIONI DI RECUPERO' eventKey='5'>
            <OpRec features={model.dettagliorifiuto}/>
        </Section>
        <Section header='MAPPA SINTESI – IMPIANTO' eventKey='6' expanded={true}>
            <MappaScheda center={model.geometry} authParam={model.authParam}/>
        </Section>
        <Section header='METADATI' eventKey='7'>
            <LinkToPage txt="Visualizza la scheda dei metadati" url="http://www.geoportale.piemonte.it/geonetworkrp/srv/ita/metadata.show" params={{id: 2658 || model.codicesira, currTab: 'rndt'}} />
        </Section>
    </Panel>
</Panel>
