<Panel
    bsStyle="primary"
    header={(<DetailTitle title='Impianto Autorizzato' subtitle={['Codice SIRA impianto', impiantoModel.codicesira]} id={impiantoModel.codicesira}/>)}>
    <Panel className="template">
        <Section header='DATI GENERALI - Impianto' eventKey='1' expanded={true}>
            <LabeledField label='Codice SIRA' value={impiantoModel.codicesira}/>
            <LabeledField label='Provincia' value={impiantoModel.provincia}/>
            <LabeledField label='Comune' value={impiantoModel.comune}/>
        </Section>
        <Section header='ADEMPIMENTI AMBIENTALI' eventKey='2' expanded={true}>
            <AdempimentiAmbientali
                codiceSira={impiantoModel.codicesira}
                numAuth={model.numauth}
                dataAuth={model.dataauth}
                activity={model.attivita}
                listTitle={"AUA"}
                detailsTemplateConfigURL={"assets/cardTemplate"}/>
        </Section>
    </Panel>
</Panel>
