<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    xmlns:util="http://www.springframework.org/schema/util">

    <bean id="siraAccessManager" class="it.geosolutions.geoserver.sira.security.SiraAccessManager" />

    <bean id="siraAccessManagerConfigurator" class="it.geosolutions.geoserver.sira.security.config.SiraAccessManagerConfigurator"
        depends-on="catalog">
        <constructor-arg index="0" ref="siraAccessManager" />
        <constructor-arg index="1" ref="catalog" />
    </bean>

    <bean id="complexSecureDataFactory" class="it.geosolutions.geoserver.sira.security.MappingFeatureIteratorSecureFactory" />

</beans>
