<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- === IrideSecurityProvider === BEGIN === -->

    <bean id="irideSecurityProvider" class="org.geoserver.security.iride.IrideSecurityProvider">
        <constructor-arg index="0">
            <bean class="org.geoserver.security.iride.util.factory.security.IrideAuthenticationProviderFactory"
		          parent="geoServerSecurityManagerBean">
                <property name="delegateAuthProviderFactory">
		            <bean class="org.geoserver.security.iride.util.factory.security.IridePolicyAuthenticationProviderFactory"
		                  parent="irideServiceBean" />
                </property>
            </bean>
        </constructor-arg>
        <constructor-arg index="1">
            <bean class="org.geoserver.security.iride.util.factory.security.IrideRoleServiceFactory"
		          parent="irideServiceBean" />
        </constructor-arg>
        <constructor-arg index="2">
            <bean class="org.geoserver.security.iride.util.factory.security.IrideUserGroupServiceFactory"
		          parent="irideServiceBean" />
        </constructor-arg>
    </bean>

    <bean id="geoServerSecurityManagerBean" abstract="true" p:securityManager-ref="geoServerSecurityManager" />

    <bean id="irideServiceBean" abstract="true" parent="geoServerSecurityManagerBean" p:irideService-ref="irideService" />

    <!-- === IrideSecurityProvider ===   END === -->

</beans>