<requestHeaderAuthentication>
  <id>-3b67b11f:1580aa3f626:-8000</id>
  <name>Shibboleth</name>
  <className>org.geoserver.security.filter.GeoServerRequestHeaderAuthenticationFilter</className>
  <roleSource class="org.geoserver.security.config.PreAuthenticatedUserNameFilterConfig$PreAuthenticatedUserNameRoleSource">RoleService</roleSource>
  <roleServiceName>iride</roleServiceName>
  <principalHeaderAttribute>Shib-Iride-IdentitaDigitale</principalHeaderAttribute>
</requestHeaderAuthentication>